* {
  /* box-sizing: border-box; */
}

a,em,span {
  box-sizing: border-box;
}

button {
  padding: 0;
  cursor: pointer;
  &:focus:not(:focus-visible) {
    outline: none;
  }
}

input {
  font-family: 'NotoKr', 'Malgun Gothic', '맑은 고딕', Dotum, '돋움', Helvetica, AppleSDGothicNeo, sans-serif;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.common-inner {
  position: relative;
  width: 1500px;
  margin: 0 auto;
}

.header .service-item .link-login::before,
.header .service-item .btn-lang::before,
.header .service-item .btn-lang::after,
.header .service-item .btn-family::after,
.header .link-sitemap::before,
.header .link-site[target="_blank"]::after,
.footer .btn-corp::before {
  background-image: url("../images/common/common_sprite.png");
  background-repeat: no-repeat;
  background-size: 500px 200px;
}

.header .service-item .btn-zoom::before {
  background-image: url("../images/common/common_icons2.png");
  background-repeat: no-repeat;
  background-size: 120px 30px;
}

.header .gnb-item.info .link-lnb::after {
  background-image: url("../images/common/common_menu_icons.png");
  background-repeat: no-repeat;
  background-size: 740px 150px;
}
.header .btn-search::before,
.header .keyword-area .title::before {
  background-image: url("../images/main/main_icons.png");
  background-repeat: no-repeat;
  background-size: 300px 180px;
}