* {
  /* box-sizing: border-box; */
}

a,
em,
span {
  box-sizing: border-box;
}

button {
  padding: 0;
  cursor: pointer;
}

button:focus:not(:focus-visible) {
  outline: none;
}

input {
  font-family: 'NotoKr', 'Malgun Gothic', '맑은 고딕', Dotum, '돋움', Helvetica, AppleSDGothicNeo, sans-serif;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.common-inner {
  position: relative;
  width: 1500px;
  margin: 0 auto;
}

.horizontal-section {
  display: flex;
  justify-content: space-between;
}

.header .service-item .link-login::before,
.header .service-item .btn-lang::before,
.header .service-item .btn-lang::after,
.header .link-lang::before,
.header .service-item .btn-family::after,
.header .link-sitemap::before,
.header .link-site[target="_blank"]::after,
.footer .btn-related::after,
.footer .link-contact.notify::before,
.footer .link-contact.notify::after {
  background-image: url("../images/common/common_sprite.png");
  background-repeat: no-repeat;
  background-size: 500px 200px;
}

.header .service-item .btn-zoom::before {
  background-image: url("../images/common/common_icons2.png");
  background-repeat: no-repeat;
  background-size: 120px 30px;
}

.header .ico-info::before,
.section-visual .visual-slide .btn-prev::before,
.section-visual .visual-slide .btn-next::before {
  background-image: url("../images/common/common_menu_icons.png");
  background-repeat: no-repeat;
  background-size: 762px 150px;
}

.section-search .btn-search::before,
.section-search .keyword-area .title::before,
.section-visual .btn-prev::before,
.section-visual .btn-control::before,
.section-visual .btn-next::before,
.section-visual .btn-more::before,
.section-news .link-more::before,
.section-event .slide-control .btn::before,
.section-communication .link-blog .ico-arrow::before,
.section-communication .link-sns .ico-arrow::before,
.section-communication .ico-news::before,
.section-communication .link-news .ico-play,
.section-board .slide-control .btn::before,
.section-board .link-more::before {
  background-image: url("../images/main/main_icons.png");
  background-repeat: no-repeat;
  background-size: 300px 180px;
}