* {
  /* box-sizing: border-box; */
}

body {
  font-family: 'SCoreDream','맑은 고딕',Dotum,'돋움',Helvetica,AppleSDGothicNeo,sans-serif;
  font-size: 16px;
  line-height: 25px;
  color: #555555;
  letter-spacing: -0.03em;
}

a,em,span {
  box-sizing: border-box;
}

button {
  padding: 0;
  cursor: pointer;
  &:focus:not(:focus-visible) {
    outline: none;
  }
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

#wrap {
  min-width: 320px;
}

#skip-nav {
  position: relative;
  z-index: 100;

  a {
    position: absolute;
    top: -30px;
    left: 0;
    width: 100%;
    padding: 2px 6px 0 0;
    text-align: center;
    font-size: 13px;
    line-height: 26px;
    color: #fff;
    white-space: nowrap;
    background-color: #333;

    &:focus {
      top: 0;
    }
  }
}

.common-inner {
  position: relative;
  width: 1500px;
  margin: 0 auto;
}

.header .service-item .link-login::before,
.header .service-item .btn-lang::before,
.header .service-item .btn-lang::after,
.header .service-item .btn-family::after,
.header .link-sitemap::before,
.header .link-site[target="_blank"]::after {
  background-image: url("../images/common/common_sprite.png");
  background-repeat: no-repeat;
  background-size: 500px 200px;
}

.header .service-item .btn-zoom::before {
  background-image: url("../images/common/common_icons2.png");
  background-repeat: no-repeat;
  background-size: 120px 30px;
}

.header .gnb-item.info .link-lnb::after {
  background-image: url("../images/common/common_menu_icons.png");
  background-repeat: no-repeat;
  background-size: 740px 150px;
}