@import './reset.css';
@import './common.css';
@import './typo.css';

#skip-nav {
  position: relative;
  z-index: 100;

  a {
    position: absolute;
    top: -30px;
    left: 0;
    width: 100%;
    padding: 2px 6px 0 0;
    text-align: center;
    font-size: 13px;
    line-height: 26px;
    color: #fff;
    white-space: nowrap;
    background-color: #333;

    &:focus {
      top: 0;
    }
  }
}

body {
  font-family: 'SCoreDream','맑은 고딕',Dotum,'돋움',Helvetica,AppleSDGothicNeo,sans-serif;
  font-size: 16px;
  line-height: 25px;
  color: #555555;
  letter-spacing: -0.03em;
}

body {
  min-height: 1000px;
}

#wrap {
  min-width: 320px;
  overflow: hidden;
}

.header .logo {
  position: absolute;
  top: 73px;
  left: 0;
  z-index: 3;
}
.header .logo a {
  display: block;
}
.header .logo a::before {
  content: '';
  display: inline-block;
  width: 130px;
  height: 50px;
  background: url("../images/common/logo.png") no-repeat;
  vertical-align: top;
}
.header .group-top {
  height: 50px;
  border-bottom: 1px solid #d9dfe2;
}
.header .group-top .common-inner::after {
  content: '';
  display: block;
  clear: both;
}
.header .group-top .column-left {
  float: left;
}
.header .group-top .column-right {
  float: right;
}
.header .intro-list::after {
  content: '';
  display: block;
  clear: both;
}
.header .intro-item {
  float: left;
}
.header .link-intro {
  display: block;
  position: relative;
  padding: 12px 0;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 26px;
  color: #5a5f6e;
}
.header .link-intro:hover {
  color: #000;
}
.header .intro-item + .intro-item .link-intro {
  margin-left: 10px;
  padding-left: 13px;
}
.header .intro-item + .intro-item .link-intro::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 2px;
  height: 2px;
  background-color: #cdd3d8;
}
.header .link-intro em {
  color: #109cda;
}
.header .service-list {
  padding: 11px 0;
}
.header .service-list::after {
  content: '';
  display: block;
  clear: both;
}
.header .service-item + .service-item::before {
  content: '';
  position: absolute;
  top: calc(50% - 9px);
  left: 0;
  width: 1px;
  height: 19px;
  background-color: #c0c9cf;
}
.header .service-item {
  float: left;
  position: relative;
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0;
  color: #333;
}
.header .service-item .link-login {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-right: 18px;
}
.header .service-item .link-login:hover {
  color: #000;
  text-decoration: underline;
}
.header .service-item .link-login::before {
  content: '';
  position: absolute;
  top: calc(50% - 9px);
  left: 0;
  width: 18px;
  height: 19px;
}
.header .service-item .btn-lang { 
  position: relative;
  margin-left: 16px;
  padding-left: 28px;
  padding-right: 30px;
}
.header .service-item .btn-lang::before {
  content: '';
  position: absolute;
  top: calc(50% - 9px);
  left: 0;
  width: 18px;
  height: 18px;
  background-position: -94px -2px;
  }
.header .service-item .btn-lang::after {
  content: '';
  position: absolute;
  top: calc(50% - 3px);
  right: 0;
  width: 8px;
  height: 6px;
  background-position: -95px -41px;
}
.header .service-item.zoom {
  margin-left: 13px;
  padding-left: 20px;
  padding-right: 20px;
}
.header .service-item.zoom::after {
  content: '';
  display: block;
  clear: both;
}
.header .service-item.zoom .title {
  float: left;
}
.header .service-item.zoom .btn-area {
  float: left;
  margin-top: 3px;
  margin-left: 15px;
}
.header .service-item.zoom .btn-area::after {
  content: '';
  display: block;
  clear: both;
}
.header .service-item .btn-zoom {
  position: relative;
  float: left;
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #c0c9cf;
  border-radius: 3px;
}
.header .service-item .btn-zoom + .btn-zoom {
  margin-left: 5px;
}
.header .service-item .btn-zoom::before {
  content: '';
  position: absolute;
  top: 5px;
  left: calc(50% - 5px);
  width: 10px;
  height: 9px;
}
.header .service-item .btn-zoom.in::before {
  background-position: left top;
}
.header .service-item .btn-zoom.out::before {
  background-position: -30px top;
}
.header .service-item .btn-family {
  position: relative;
  margin-left: 20px;
  padding-right: 30px;
}
.header .service-item .btn-family::after {
  content: '';
  position: absolute;
  top: calc(50% - 3px);
  right: 0;
  width: 8px;
  height: 6px;
  background-position: -95px -41px;
}
.header .group-nav {
  height: 100px;
}
.header .nav-container {
  position: relative;
  z-index: 2;
  height: 100px;
  overflow: hidden;
  background-color: #fff;
  transition: height 250ms ease-in-out;
}
.header .nav-container.is-open::before {
  display: block;
}
.header .nav-container .common-inner {
  height: 100%;
}
.header .nav-container .common-inner::after {
  content: '';
  display: block;
  clear: both;
}
.header .gnb-list-wrap {
  float: right;
  padding-right: 50px;
}
.header .gnb-list-wrap::after {
  content: '';
  display: block;
  clear: both;
}
.header .gnb-list::after {
  content: '';
  display: block;
  clear: both;
}
.header .gnb-item {
  float: left;
}
.header .link-gnb {
  position: relative;
  display: block;
  margin: 0 30px;
  padding: 28px 0;
  font-size: 19px;
  font-weight: 500;
  line-height: 45px;
  letter-spacing: -0.04em;
  color: #181818;
}
.header .link-gnb::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  transform: scaleX(0);
  background-color: #014099;
  transition: transform 250ms linear;
}
.header .gnb-item.is-active .link-gnb::before {
  transform: scaleX(1);
}
.header .lnb-list-wrap {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition-property: visibility, opacity;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}
.header .gnb-item.is-active .lnb-list-wrap {
  visibility: visible;
  opacity: 1;
}
.header .lnb-list {
  font-size: 0;
}
.header .lnb-list::after {
  content: '';
  display: block;
  clear: both;
}
.header .lnb-item {
  position: relative;
  display: inline-block;
  width: 19%;
  padding-top: 24px;
  padding-left: 30px;
  margin-bottom: 25px;
  margin-right: 1%;
  vertical-align: top;
  box-sizing: border-box;
}
.header .lnb-item::before {
  content: '';
  position: absolute;
  top: 30px;
  left: 0;
  width: 1px;
  height: calc(100% - 35px);
  background-color: #eceff0;
}
.header .link-lnb {
  display: block;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.04em;
  color: #181818;
}
.header .link-site {
  position: relative;
  display: block;
  padding-left: 16px;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 0;
  color: #5a5f6e;
  transition: color 250ms ease-in-out;
}
.header .link-site:hover {
  color: #000;
}
.header .link-site::before {
  content: '';
  position: absolute;
  top: 11px;
  left: 0;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #cdd3d8;
}
.header .link-site[target="_blank"]::after {
  content: '';
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-left: 4px;
  vertical-align: -1px;
  background-position: -133px -4px;
}
.header .link-sitemap {
  position: absolute;
  top: 40px;
  right: 0;
}
.header .link-sitemap::before {
  content: '';
  display: block;
  width: 24px;
  height: 20px;
  background-position: 0 -116px;
}
.header .gnb-item.info .lnb-list {
  padding-top: 47px;
}
.header .gnb-item.info .lnb-item {
  width: 14.28%;
  margin-right: 0;
  margin-bottom: 33px;
  padding: 0;
  text-align: center;
}
.header .gnb-item.info .link-lnb {
  font-size: 17px;
  padding: 102px 20px 0;
}
.header .gnb-item.info .link-lnb::after {
  content: '';
  position: absolute;
  top: 20px;
  width: 42px;
  height: 47px;
}
.header .gnb-item.info .lnb-item:nth-child(1) .link-lnb::after {
  top: 23px;
  left: calc(50% - 21px);
  width: 42px;
  height: 40px;
  background-position: -1px -8px;
}
.header .gnb-item.info .lnb-item:nth-child(1) .link-lnb:hover::after {
  background-position: -1px -82px;
}
.header .gnb-item.info .lnb-item:nth-child(2) .link-lnb::after {
  top: 23px;
  left: calc(50% - 18px);
  width: 36px;
  height: 41px;
  background-position: -51px -4px;
}
.header .gnb-item.info .lnb-item:nth-child(2) .link-lnb:hover::after {
  background-position: -53px -78px;
}
.header .gnb-item.info .lnb-item:nth-child(3) .link-lnb::after {
  top: 20px;
  left: calc(50% - 18px);
  width: 36px;
  height: 46px;
  background-position: -102px -2px;
}
.header .gnb-item.info .lnb-item:nth-child(3) .link-lnb:hover::after {
  background-position: -103px -75px;
}
.header .gnb-item.info .lnb-item:nth-child(4) .link-lnb::after {
  top: 20px;
  left: calc(50% - 19px);
  width: 38px;
  height: 47px;
  background-position: -151px -1px;
}
.header .gnb-item.info .lnb-item:nth-child(4) .link-lnb:hover::after {
  background-position: -153px -75px;
}
.header .gnb-item.info .lnb-item:nth-child(5) .link-lnb::after {
  top: 26px;
  left: calc(50% - 21px);
  width: 43px;
  height: 35px;
  background-position: -199px -7px;
}
.header .gnb-item.info .lnb-item:nth-child(5) .link-lnb:hover::after {
  background-position: -201px -81px;
}
.header .gnb-item.info .lnb-item:nth-child(6) .link-lnb::after {
  top: 23px;
  left: calc(50% - 20px);
  width: 41px;
  height: 38px;
  background-position: -251px -6px;
}
.header .gnb-item.info .lnb-item:nth-child(6) .link-lnb:hover::after {
  background-position: -252px -79px;
}
.header .gnb-item.info .lnb-item:nth-child(7) .link-lnb::after {
  top: 26px;
  left: calc(50% - 20px);
  width: 41px;
  height: 35px;
  background-position: -302px -7px;
}
.header .gnb-item.info .lnb-item:nth-child(7) .link-lnb:hover::after {
  background-position: -303px -81px;
}
.header .gnb-item.info .lnb-item:nth-child(8) .link-lnb::after {
  top: 27px;
  left: calc(50% - 16px);
  width: 33px;
  height: 30px;
  background-position: -356px -10px;
}
.header .gnb-item.info .lnb-item:nth-child(8) .link-lnb:hover::after {
  background-position: -357px -83px;
}
.header .gnb-item.info .lnb-item:nth-child(9) .link-lnb::after {
  top: 21px;
  left: calc(50% - 21px);
  width: 43px;
  height: 41px;
  background-position: -402px -4px;
}
.header .gnb-item.info .lnb-item:nth-child(9) .link-lnb:hover::after {
  background-position: -403px -78px;
}
.header .gnb-item.info .lnb-item:nth-child(10) .link-lnb::after {
  top: 23px;
  left: calc(50% - 20px);
  width: 41px;
  height: 37px;
  background-position: -454px -6px;
}
.header .gnb-item.info .lnb-item:nth-child(10) .link-lnb:hover::after {
  background-position: -454px -80px;
}
.header .gnb-item.info .lnb-item:nth-child(11) .link-lnb::after {
  top: 23px;
  left: calc(50% - 17px);
  width: 34px;
  height: 38px;
  background-position: -508px -6px;
}
.header .gnb-item.info .lnb-item:nth-child(11) .link-lnb:hover::after {
  background-position: -508px -79px;
}
.header .gnb-item.info .lnb-item:nth-child(12) .link-lnb::after {
  top: 21px;
  left: calc(50% - 22px);
  width: 45px;
  height: 41px;
  background-position: -553px -4px;
}
.header .gnb-item.info .lnb-item:nth-child(12) .link-lnb:hover::after {
  background-position: -553px -78px;
}
.header .gnb-item.info .lnb-item:nth-child(13) .link-lnb::after {
  top: 21px;
  left: calc(50% - 20px);
  width: 41px;
  height: 41px;
  background-position: -605px -4px;
}
.header .gnb-item.info .lnb-item:nth-child(13) .link-lnb:hover::after {
  background-position: -606px -78px;
}
.header .gnb-item.info .lnb-item:nth-child(14) .link-lnb::after {
  top: 19px;
  left: calc(50% - 16px);
  width: 33px;
  height: 45px;
  background-position: -660px -2px;
}
.header .gnb-item.info .lnb-item:nth-child(14) .link-lnb:hover::after {
  background-position: -660px -76px;
}
.header .gnb-item.info .link-lnb::before {
  content: '';
  position: absolute;
  top: 0;
  left: calc(50% - 45px);
  width: 90px;
  height: 90px;
  border: 1px solid #eceff0;
  border-radius: 12px;
  background-color: #fff;
  transition-property: border-color, background-color, box-shadow;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}
.header .gnb-item.info .lnb-item::before {
  top: 5px;
  height: 103px;
}
.header .gnb-item.info .link-lnb:hover::before {
  border-color: #80d1e5;
  background-color: #80d1e5;
  box-shadow: 8px 13px 28px 0px rgba(0, 51, 102, 0.1);
}

.footer .related-area {
  background-color: #e1e2e7;
}
.footer .related-list::after {
  content: '';
  display: block;
  clear: both;
}
.footer .related-item {
  position: relative;
  z-index: 1;
  float: left;
  width: 16.666%;
  transition: background-color 200ms ease-in-out;
}
.footer .related-item.is-active {
  background-color: #d8eef8;
}
.footer .related-item::after,
.footer .related-item:nth-child(1):before {
  content: '';
  position: absolute;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #fff;
}
.footer .related-item:nth-child(1):before {
  left: 0;
}
.footer .related-item::after {
  right: 0;
}
.footer .btn-related {
  position: relative;
  display: block;
  width: 100%;
  padding: 17px 60px 18px 20px;
  text-align: left;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: -0.04em;
  color: #000;
  transition: color 200ms ease-in-out;
}
.footer .related-item.is-active .btn-related {
  color: #014099;
}
.footer .btn-related::before {
  content: '';
  position: absolute;
  top: calc(50% - 4px);
  right: 40px;
  width: 10px;
  height: 7px;
  background-position: -320px -40px;
}
.footer .related-item.is-active .btn-related::before {
  background-position: -340px -40px;
}
.footer .site-list-wrap {
  display: none;
  position: absolute;
  bottom: 65px;
  left: 0;
  width: 603px;
  border: 1px solid #d9dfe2;
  border-radius: 12px 12px 0 0;
  background-color: #fff;
}
.footer .related-item:nth-child(n+4) .site-list-wrap {
  left: auto;
  right: 0;
}
.footer .site-list {
  position: relative;
  margin: 32px 30px;
}
.footer .site-list::before  {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 1px;
  height: 100%;
  background-color: #eceff0;
}
.footer .site-list::after {
  content: '';
  display: block;
  clear: both;
}
.footer .site-item {
  float: left;
  position: relative;
  width: calc(50% - 30px);
  padding-left: 15px
}
.footer .site-item:nth-child(2n) {
  margin-left: 30px;
}
.footer .site-item::before {
  content: '';
  position: absolute;
  top: 11px;
  left: 0;
  width: 3px;
  height: 3px;
  background-color: #cdd3d8;
}
.footer .link-site {
  display: block;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 0;
  color: #5a5f6e;
}
.footer .group-contact {
  background-color: #f7f8fb;
}
.footer .group-contact .common-inner::after {
  content: '';
  display: block;
  clear: both;
}
.footer .group-contact .column-left {
  float: left;
}
.footer .group-contact .column-right {
  float: right;
}
.footer .contact-area {
  padding: 40px 0;
}
.footer .contact-area::after {
  content: '';
  display: block;
  clear: both;
}
.footer .contact-box {
  float: left;
}
.footer .contact-box + .contact-box {
  margin-top: 28px;
  margin-left: 30px;
}
.footer .link-contact.call {
  display: block;
  width: 290px;
}
.footer .link-contact.call .title {
  font-size: 16px;
  line-height: 32px;
  font-weight: 600;
  letter-spacing: -0.03em;
  color: #000;
}
.footer .link-contact.call .title::before {
  content: '';
  display: inline-block;
  width: 30px;
  height: 31px;
  margin-right: 10px;
  vertical-align: top;
  background: url("../images/common/footer_icon3.png") no-repeat;
}
.footer .link-contact.call .tel {
  font-size: 21px;
  line-height: 35px;
  letter-spacing: -0.03em;
  color: #014099;
}
.footer .link-contact.call .tel em {
  font-weight: 600;
}
.footer .link-contact.notify {
  display: inline-block;
  position: relative;
  margin: 2px 15px 2px 0;
  padding: 9px 21px;
  border: 1px solid #cbcdd0;
  border-radius: 6px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.03em;
  color: #000;
  text-decoration: none;
  word-break: keep-all;
  background-color: #fcfcfd;
}
.footer .link-contact.notify::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 18px;
  vertical-align: -4px;
  margin-right: 11px;
  background-position: -86px -76px;
}
.footer .link-contact.notify::after {
  content: '';
  display: inline-block;
  width: 7px;
  height: 12px;
  margin-left: 18px;
  vertical-align: -1px;
  background-position: -228px -37px;
}
.footer .logo-area {
  padding: 56px 0 40px;
}
.footer .logo {
  display: inline-block;
  vertical-align: middle;
}
.footer .logo + .logo {
  margin-left: 14px;
}
.footer .link-logo {
  display: block;
}
.footer .group-corp {
  padding: 40px 0;
}
.footer .corp-list::after {
  content: '';
  display: block;
  clear: both;
}
.footer .corp-item {
  position: relative;
  float: left;
}
.footer .corp-item + .corp-item::before {
  content: '';
  display: inline-block;
  width: 1px;
  height: 15px;
  margin: 0 18px;
  vertical-align: -1px;
  background-color: #dedede;
}
.footer .link-corp {
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.03em;
}
.footer .link-corp:hover {
  text-decoration: underline;
}
.footer .link-corp strong {
  color: #014099;
  font-weight: 600;
}
.footer .address-area {
  margin-top: 10px;
  padding-right: 250px;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.03em;
  color: #5a5a5a;
}
.footer .address-area::after {
  content: '';
  display: block;
  clear: both;
}
.footer .address {
  float: left;
}
.footer .copyright {
  float: left;
  margin-left: 14px;
}

/* media query */
@media screen and (min-width: 1001px) {
  .header .nav-container.is-open {
    box-shadow: 8px 13px 15px 0 rgba(0, 51, 102, 0.1);
  }
  .header .nav-container.is-open {
    padding-bottom: 30px;
  }
  .header .link-lnb {
    margin-bottom: 12px;
  }
}
