@import './reset.css';
@import './common.css';
@import './typo.css';

#skip-nav {
  position: relative;
  z-index: 100;

  a {
    position: absolute;
    top: -30px;
    left: 0;
    width: 100%;
    padding: 2px 6px 0 0;
    text-align: center;
    font-size: 13px;
    line-height: 26px;
    color: #fff;
    white-space: nowrap;
    background-color: #333;

    &:focus {
      top: 0;
    }
  }
}

body {
  font-family: 'SCoreDream','맑은 고딕',Dotum,'돋움',Helvetica,AppleSDGothicNeo,sans-serif;
  font-size: 16px;
  line-height: 25px;
  color: #555555;
  letter-spacing: -0.03em;
}

body {
  min-height: 1000px;
}

#wrap {
  min-width: 320px;
}

/* header, footer */
.header .logo {
  position: absolute;
  top: 73px;
  left: 0;
  z-index: 1;
}
.header .logo a {
  display: block;
}
.header .logo a::before {
  content: '';
  display: inline-block;
  width: 130px;
  height: 50px;
  background: url("../images/common/logo.png") no-repeat;
  vertical-align: top;
}
.header .group-top {
  height: 50px;
  border-bottom: 1px solid #d9dfe2;
}
.header .group-top .common-inner::after {
  content: '';
  display: block;
  clear: both;
}
.header .group-top .column-left {
  float: left;
}
.header .group-top .column-right {
  float: right;
}
.header .intro-list::after {
  content: '';
  display: block;
  clear: both;
}
.header .intro-item {
  float: left;
}
.header .link-intro {
  display: block;
  position: relative;
  padding: 12px 0;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 26px;
  color: #5a5f6e;
}
.header .link-intro:hover {
  color: #000;
}
.header .intro-item + .intro-item .link-intro {
  margin-left: 10px;
  padding-left: 13px;
}
.header .intro-item + .intro-item .link-intro::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 2px;
  height: 2px;
  background-color: #cdd3d8;
}
.header .link-intro em {
  color: #109cda;
}
.header .service-list {
  padding: 11px 0;
}
.header .service-list::after {
  content: '';
  display: block;
  clear: both;
}
.header .service-item + .service-item::before {
  content: '';
  position: absolute;
  top: calc(50% - 9px);
  left: 0;
  width: 1px;
  height: 19px;
  background-color: #c0c9cf;
}
.header .service-item {
  float: left;
  position: relative;
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0;
  color: #333;
}
.header .service-item .link-login {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-right: 18px;
}
.header .service-item .link-login:hover {
  color: #000;
  text-decoration: underline;
}
.header .service-item .link-login::before {
  content: '';
  position: absolute;
  top: calc(50% - 9px);
  left: 0;
  width: 18px;
  height: 19px;
}
.header .service-item .btn-lang { 
  position: relative;
  margin-left: 16px;
  padding-left: 28px;
  padding-right: 30px;
}
.header .service-item .btn-lang::before {
  content: '';
  position: absolute;
    top: calc(50% - 9px);
    left: 0;
    width: 18px;
    height: 18px;
    background-position: -94px -2px;
  }
.header .service-item .btn-lang::after {
  content: '';
  position: absolute;
  top: calc(50% - 3px);
  right: 0;
  width: 8px;
  height: 6px;
  background-position: -95px -41px;
}
.header .service-item.zoom {
  margin-left: 13px;
  padding-left: 20px;
  padding-right: 20px;
}
.header .service-item.zoom::after {
  content: '';
  display: block;
  clear: both;
}
.header .service-item.zoom .title {
  float: left;
}
.header .service-item.zoom .btn-area {
  float: left;
  margin-top: 3px;
  margin-left: 15px;
}
.header .service-item.zoom .btn-area::after {
  content: '';
  display: block;
  clear: both;
}
.header .service-item .btn-zoom {
  position: relative;
  float: left;
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #c0c9cf;
  border-radius: 3px;
}
.header .service-item .btn-zoom + .btn-zoom {
  margin-left: 5px;
}
.header .service-item .btn-zoom::before {
  content: '';
  position: absolute;
  top: 5px;
  left: calc(50% - 5px);
  width: 10px;
  height: 9px;
}
.header .service-item .btn-zoom.in::before {
  background-position: left top;
}
.header .service-item .btn-zoom.out::before {
  background-position: -30px top;
}
.header .service-item .btn-family {
  position: relative;
  margin-left: 20px;
  padding-right: 30px;
}
.header .service-item .btn-family::after {
  content: '';
  position: absolute;
  top: calc(50% - 3px);
  right: 0;
  width: 8px;
  height: 6px;
  background-position: -95px -41px;
}
.header .group-nav {
  position: relative;
  height: 100px;
  overflow: hidden;
  background-color: #fff;
  transition: height 250ms ease-in-out;
}
@media screen and (min-width: 1001px) {
  .header .group-nav.is-open {
    /* padding-bottom: 30px; */
    /* box-shadow: 8px 13px 15px 0 rgba(0, 51, 102, 0.1); */
  }
}
.header .group-nav::before {
  display: none;
  content: '';
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #d9dfe2;
}
.header .group-nav.is-open::before {
  display: block;
}
.header .group-nav .common-inner {
  height: 100%;
}
.header .group-nav .common-inner::after {
  content: '';
  display: block;
  clear: both;
}
.header .nav-area {
  float: right;
  padding-right: 50px;
}
.header .nav-area::after {
  content: '';
  display: block;
  clear: both;
}
.header .gnb-list::after {
  content: '';
  display: block;
  clear: both;
}
.header .gnb-item {
  float: left;
}
.header .link-gnb {
  position: relative;
  display: block;
  margin: 0 30px;
  padding: 28px 0;
  font-size: 19px;
  font-weight: 500;
  line-height: 45px;
  letter-spacing: -0.04em;
  color: #181818;
}
.header .link-gnb::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  transform: scaleX(0);
  background-color: #014099;
  transition: transform 250ms linear;
}
.header .gnb-item.is-active .link-gnb::before {
  transform: scaleX(1);
}
.header .lnb-list-container {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition-property: visibility, opacity;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}
.header .gnb-item.is-active .lnb-list-container {
  visibility: visible;
  opacity: 1;
}
.header .lnb-list {
  font-size: 0;
}
.header .lnb-list::after {
  content: '';
  display: block;
  clear: both;
}
.header .lnb-item {
  position: relative;
  display: inline-block;
  width: 19%;
  padding-top: 24px;
  padding-left: 30px;
  margin-bottom: 25px;
  margin-right: 1%;
  vertical-align: top;
  box-sizing: border-box;
}
.header .lnb-item::before {
  content: '';
  position: absolute;
  top: 30px;
  left: 0;
  width: 1px;
  height: calc(100% - 35px);
  background-color: #eceff0;
}
.header .link-lnb {
  display: block;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.04em;
  color: #181818;
}
.header .link-site {
  position: relative;
  display: block;
  padding-left: 16px;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 0;
  color: #5a5f6e;
  transition: color 250ms ease-in-out;
}
.header .link-site[target="_blank"]::after {
    content: '';
    display: inline-block;
    width: 13px;
    height: 13px;
    margin-left: 4px;
    vertical-align: -1px;
    background-position: -133px -4px;
}
.header .link-site:hover {
  color: #000;
}
.header .link-site::before {
  content: '';
  position: absolute;
  top: 11px;
  left: 0;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #cdd3d8;
}
.header .link-sitemap {
  position: absolute;
  top: 40px;
  right: 0;
}
.header .link-sitemap::before {
  content: '';
  display: block;
  width: 24px;
  height: 20px;
  background-position: 0 -116px;
}
.header .gnb-item.info .lnb-list {
  padding-top: 47px;
}
.header .gnb-item.info .lnb-item {
  width: 14.28%;
  margin-right: 0;
  margin-bottom: 33px;
  padding: 0;
  text-align: center;
}
.header .gnb-item.info .link-lnb {
  font-size: 17px;
  padding: 102px 20px 0;
}
.header .gnb-item.info .link-lnb::after {
  content: '';
  position: absolute;
  top: 20px;
  width: 42px;
  height: 47px;
}
.header .gnb-item.info .lnb-item:nth-child(1) .link-lnb::after {
  top: 23px;
  left: calc(50% - 21px);
  width: 42px;
  height: 40px;
  background-position: -1px -8px;
}
.header .gnb-item.info .lnb-item:nth-child(1) .link-lnb:hover::after {
  background-position: -1px -82px;
}
.header .gnb-item.info .lnb-item:nth-child(2) .link-lnb::after {
  top: 23px;
  left: calc(50% - 18px);
  width: 36px;
  height: 41px;
  background-position: -51px -4px;
}
.header .gnb-item.info .lnb-item:nth-child(2) .link-lnb:hover::after {
  background-position: -53px -78px;
}
.header .gnb-item.info .lnb-item:nth-child(3) .link-lnb::after {
  top: 20px;
  left: calc(50% - 18px);
  width: 36px;
  height: 46px;
  background-position: -102px -2px;
}
.header .gnb-item.info .lnb-item:nth-child(3) .link-lnb:hover::after {
  background-position: -103px -75px;
}
.header .gnb-item.info .lnb-item:nth-child(4) .link-lnb::after {
  top: 20px;
  left: calc(50% - 19px);
  width: 38px;
  height: 47px;
  background-position: -151px -1px;
}
.header .gnb-item.info .lnb-item:nth-child(4) .link-lnb:hover::after {
  background-position: -153px -75px;
}
.header .gnb-item.info .lnb-item:nth-child(5) .link-lnb::after {
  top: 26px;
  left: calc(50% - 21px);
  width: 43px;
  height: 35px;
  background-position: -199px -7px;
}
.header .gnb-item.info .lnb-item:nth-child(5) .link-lnb:hover::after {
  background-position: -201px -81px;
}
.header .gnb-item.info .lnb-item:nth-child(6) .link-lnb::after {
  top: 23px;
  left: calc(50% - 20px);
  width: 41px;
  height: 38px;
  background-position: -251px -6px;
}
.header .gnb-item.info .lnb-item:nth-child(6) .link-lnb:hover::after {
  background-position: -252px -79px;
}
.header .gnb-item.info .lnb-item:nth-child(7) .link-lnb::after {
  top: 26px;
  left: calc(50% - 20px);
  width: 41px;
  height: 35px;
  background-position: -302px -7px;
}
.header .gnb-item.info .lnb-item:nth-child(7) .link-lnb:hover::after {
  background-position: -303px -81px;
}
.header .gnb-item.info .lnb-item:nth-child(8) .link-lnb::after {
  top: 27px;
  left: calc(50% - 16px);
  width: 33px;
  height: 30px;
  background-position: -356px -10px;
}
.header .gnb-item.info .lnb-item:nth-child(8) .link-lnb:hover::after {
  background-position: -357px -83px;
}
.header .gnb-item.info .lnb-item:nth-child(9) .link-lnb::after {
  top: 21px;
  left: calc(50% - 21px);
  width: 43px;
  height: 41px;
  background-position: -402px -4px;
}
.header .gnb-item.info .lnb-item:nth-child(9) .link-lnb:hover::after {
  background-position: -403px -78px;
}
.header .gnb-item.info .lnb-item:nth-child(10) .link-lnb::after {
  top: 23px;
  left: calc(50% - 20px);
  width: 41px;
  height: 37px;
  background-position: -454px -6px;
}
.header .gnb-item.info .lnb-item:nth-child(10) .link-lnb:hover::after {
  background-position: -454px -80px;
}
.header .gnb-item.info .lnb-item:nth-child(11) .link-lnb::after {
  top: 23px;
  left: calc(50% - 17px);
  width: 34px;
  height: 38px;
  background-position: -508px -6px;
}
.header .gnb-item.info .lnb-item:nth-child(11) .link-lnb:hover::after {
  background-position: -508px -79px;
}
.header .gnb-item.info .lnb-item:nth-child(12) .link-lnb::after {
  top: 21px;
  left: calc(50% - 22px);
  width: 45px;
  height: 41px;
  background-position: -553px -4px;
}
.header .gnb-item.info .lnb-item:nth-child(12) .link-lnb:hover::after {
  background-position: -553px -78px;
}
.header .gnb-item.info .lnb-item:nth-child(13) .link-lnb::after {
  top: 21px;
  left: calc(50% - 20px);
  width: 41px;
  height: 41px;
  background-position: -605px -4px;
}
.header .gnb-item.info .lnb-item:nth-child(13) .link-lnb:hover::after {
  background-position: -606px -78px;
}
.header .gnb-item.info .lnb-item:nth-child(14) .link-lnb::after {
  top: 19px;
  left: calc(50% - 16px);
  width: 33px;
  height: 45px;
  background-position: -660px -2px;
}
.header .gnb-item.info .lnb-item:nth-child(14) .link-lnb:hover::after {
  background-position: -660px -76px;
}
.header .gnb-item.info .link-lnb:hover::before {
  border-color: #80d1e5;
  background-color: #80d1e5;
  box-shadow: 8px 13px 28px 0px rgba(0, 51, 102, 0.1);
}
.header .gnb-item.info .link-lnb::before {
  content: '';
  position: absolute;
  top: 0;
  left: calc(50% - 45px);
  width: 90px;
  height: 90px;
  border: 1px solid #eceff0;
  border-radius: 12px;
  background-color: #fff;
  transition-property: border-color, background-color, box-shadow;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}

/* media query */
@media screen and (min-width: 1001px) {
  .header .link-lnb {
    margin-bottom: 12px;
  }
}

.header .group-search {
  padding-top: 60px;
  position: relative;
  overflow: hidden;
}
.header .group-search .common-inner {
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 1001px) {
  .header .group-search .common-inner {
    /* width: 100%; */
    /* padding-top: 60px; */
    max-width: 755px;
  }
  .header .group-search .search-input {
    height: 70px;
  }
  .header .group-search .inner1 {
    position: relative;
  }
  .header .group-search .inner1::before {
    top: 64px;
    right: -49px;
    background-image: url("../images/main/searchsection_deco2.png");
  }
}
.header .group-search .inner1::before {

  background-image: url("../images/main/searchsection_deco2.png");
  -webkit-mask-image: linear-gradient(to top, black 28%, transparent 117%);
  mask-image: linear-gradient(to top, black 28%, transparent 117%);
    position: absolute;
    top: 87px;
    z-index: 1;
    width: 1076px;
    height: 349px;
    background-repeat: no-repeat;
    background-position: right top;
    content: '';
}
.header .search-form {
  position: relative;
  /* max-width: 755px; */
  /* margin: 0 auto; */
}
.header .search {
  padding-right: 95px;
}
.header .search::after {
  content: '';
  display: block;
  clear: both;
}
.header .search-input {
  /* float: left; */
  width: 100%;
    margin: 0;
    padding: 11px 30px;
    box-sizing: border-box;
    border: 2px solid #109cda;
    background-color: #FFF;
    border-radius: 10px;
    border-bottom-right-radius: 30px;
    line-height: 44px;
    color: #05054c;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -0.04em;
}

.header .search-input::placeholder {
  color: #929292;
  font-size: 20px;
    font-weight: 600;
    /* letter-spacing: -0.04em; */
    font-family: "Noto Sans KR", sans-serif;
}
.header .btn-search {
  /* float: left; */
  width: 70px;
  height: 70px;
  /* position: relative; */
  /* display: block; */
    position: absolute;
    top: 0;
    right: 0;
    /* width: 70px; */
    background-image: linear-gradient(135deg, #109cda 9%, #065eae 34%, #014099 57%);
    border-radius: 50%;
    box-shadow: rgba(1, 64, 153, 0.2) 18px 30px 50px;
}
.header .btn-search::before {
  display: block;
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
  z-index: 1;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: -30px top;

  content: '';
}
.header .keyword-area {
  margin-top: 15px;
  /* padding-left: 42px; */
  /* padding-left: 9px; */
}
.header .keyword-area::after {
  content: '';
  display: block;
  clear: both;
}
@media (min-width: 1001px) {
  /* padding-left: 134px; */
}
.header .keyword-area .title {
  width: auto;
  height: auto;
  padding-left: 10px;
  color: #109cda;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.04em;
  float: left;
}
@media (min-width: 1001px) {
  .header .keyword-area .title {
    line-height: 24px;
  }
}
.header .keyword-area .title::before {
  /* display: block; */
  /* position: absolute; */
  /* top: 4px; */
  /* left: 0; */
  display: inline-block;
  /* vertical-align: 4px; */
  width: 16px;
  height: 17px;

  background-position: left -150px;

  content: '';
  vertical-align: -3px;
  margin-right: 7px;
}
.header .keyword-list {
  float: left;
  padding-left: 27px;
}
.header .keyword-list::after {
  content: '';
  display: block;
  clear: both;
}
.header .keyword-item {
  float: left;
}
.header .keyword-item + .keyword-item {
  margin-left: 28px;
}
.header .link-keyword {
  display: block;
    line-height: 24px;
    color: #6a747f;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.03em;
    transition-property: color;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}
.header .link-keyword:hover {
  color: #014099;
}