.group-row1 {
  position: relative;
}
.group-row1::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 239px);
  background-image: linear-gradient(to bottom, #f8fafc 0%, #ffffff 100%);
  pointer-events: none;
}

.group-row1 .row1 {
  padding-top: 60px;
}

.section-search {
  position: relative;
}
.section-search::before {
  content: '';
  position: absolute;
  top: 87px;
  width: 1076px;
  height: 349px;
  background-image: url("../images/main/searchsection_deco2.png");
  background-repeat: no-repeat;
  background-position: right top;
  mask-image: linear-gradient(to top, black 28%, transparent 117%);
  -webkit-mask-image: linear-gradient(to top, black 28%, transparent 117%);
}
.section-search .search-form {
  position: relative;
}
.section-search .search {
  padding-right: 95px;
}
.section-search .search::after {
  content: '';
  display: block;
  clear: both;
}
.section-search .search-input {
  width: 100%;
  margin: 0;
  padding: 11px 30px;
  font-size: 20px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -0.04em;
  color: #05054c;
  border: 2px solid #109cda;
  border-radius: 10px 10px 30px 10px;
  background-color: #fff;
  box-sizing: border-box;
}
.section-search .search-input::placeholder {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #929292;
}
.section-search .btn-search {
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-image: linear-gradient(135deg, #109cda 9%, #065eae 34%, #014099 57%);
  box-shadow: rgba(1, 64, 153, 0.2) 18px 30px 50px;
}
.section-search .btn-search::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: -30px top;
}
.section-search .keyword-area {
  margin-top: 15px;
}
.section-search .keyword-area::after {
  content: '';
  display: block;
  clear: both;
}
.section-search .keyword-area .title {
  float: left;
  padding-left: 10px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.04em;
  color: #109cda;
}
.section-search .keyword-area .title::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 17px;
  margin-right: 7px;
  vertical-align: -3px;
  background-position: left -150px;
}
.section-search .keyword-list {
  float: left;
  padding-left: 27px;
}
.section-search .keyword-list::after {
  content: '';
  display: block;
  clear: both;
}
.section-search .keyword-item {
  float: left;
}
.section-search .keyword-item + .keyword-item {
  margin-left: 28px;
}
.section-search .link-keyword {
  display: block;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: -0.03em;
  color: #6a747f;
  transition: color 200ms ease-in-out;
}
.section-search .link-keyword:hover {
  color: #014099;
}

@media screen and (min-width: 1001px) {
  .section-search .inner {
    position: relative;
  }
  .section-search::before {
    top: 64px;
    right: -49px;
    background-image: url("../images/main/searchsection_deco2.png");
  }
  .section-search .common-inner {
    max-width: 755px;
  }
  .section-search .search-input {
    height: 70px;
  }
  .section-search .keyword-area .title {
    line-height: 24px;
  }
}


.group-row1 .row2 {
  padding-top: 70px;
}

.group-row1 .row2 .common-inner::after {
  content: '';
  display: block;
  clear: both;
}

.group-row1 .row2 .column-left {
  float: left;
  width: 874px;
}

.group-row1 .row2 .column-right {
  float: right;
  width: 585px;
  margin-top: 36px;
}

.section-visual {
  position: relative;
}

.section-visual .slide-wrapper {
  border-radius: 25px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 18px 30px 50px;
}

.section-visual .visual-slide a {
  position: relative;
  display: block;
}

.section-visual .slide-control-area {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 1;
}

.section-visual .slide-control-area::after {
  content: '';
  display: block;
  clear: both;
}

.section-visual .slide-control {
  float: left;
  border-radius: 39px;
  background-color: rgba(255, 255, 255, 0.85);
}

.section-visual .slide-control::after {
  content: '';
  display: block;
  clear: both;
}

.section-visual .page {
  float: left;
  padding: 8px 19px 0 20px;
}

.section-visual .page span {
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.04em;
  color: #0087cd;
  vertical-align: top;
}

.section-visual .page .current {
  color: #05054c;
}

.section-visual .page .gap {
  margin: 0 6px;
}

.section-visual .control-btns {
  float: right;
}

.section-visual .control-btns::after {
  content: '';
  display: block;
  clear: both;
}

.section-visual .btn {
  float: left;
  position: relative;
  width: 39px;
  height: 39px;
}

.section-visual .btn-prev::before {
  content: '';
  position: absolute;
  top: 11px;
  left: calc(50% - 5px);
  width: 10px;
  height: 17px;
  background-position: -15px -30px;
}

.section-visual .btn-control {
  margin: 0 8px;
}

.section-visual .btn-control::before {
  content: '';
  position: absolute;
  top: 11px;
  left: 12px;
  width: 15px;
  height: 17px;
  background-position: -60px -30px;
}

.section-visual .btn-control.pause::before {
  background-position: -90px -30px;
}

.section-visual .btn-next::before {
  content: '';
  position: absolute;
  top: 11px;
  left: calc(50% - 5px);
  width: 10px;
  height: 17px;
  background-position: -45px -30px;
}

.section-visual .btn-more {
  float: right;
  position: relative;
  width: 39px;
  height: 39px;
  margin-left: 10px;
  border-radius: 39px;
  background-color: #cde9fd;
  transition: background-color 200ms ease-in-out;
}

.section-visual .btn-more:hover {
  background-color: #fff;
}

.section-visual .btn-more::before {
  content: '';
  position: absolute;
  top: calc(50% - 6px);
  left: calc(50% - 6px);
  width: 12px;
  height: 12px;
  background-position: -195px -120px;
}

.section-mayor {
  position: relative;
}

.section-mayor::before {
  content: '';
  position: absolute;
  top: -44px;
  left: 32px;
  z-index: 1;
  width: 87px;
  height: 83px;
  background: url("../images/main/mayor_deco.png") no-repeat left top;
}

.section-mayor .content {
  position: relative;
  padding: 48px 248px 32px 50px;
  border-radius: 60px 30px 60px 30px;
  overflow: hidden;
  background-image: linear-gradient(125deg, #ffffff 42%, #b7ddfa 84%, #90b8e9 100%);
  box-shadow: rgba(180, 189, 195, 0.35) 18px 30px 50px;
}

.section-mayor .content::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 26px;
  width: 222px;
  height: 231px;
  background: url("../images/main/mayor_photo.png") no-repeat right bottom;
}

.section-mayor .title {
  font-family: 'Tenada', '맑은 고딕', Dotum, '돋움', Helvetica, AppleSDGothicNeo, sans-serif;
  font-size: 34px;
  line-height: 1;
  color: #202431;
}

.section-mayor .title a {
  display: block;
}

.section-mayor .title .category {
  font-size: 26px;
}

.section-mayor .title .name {
  margin-top: 5px;
}

.section-mayor .title span {
  display: block;
}

.section-mayor .title .name strong {
  font-size: 40px;
  color: #109cda;
}

.section-mayor .desc {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.03em;
  color: #667b92;
}

.section-mayor .link-area {
  margin-top: 20px;
}

.section-mayor .link-area::after {
  content: '';
  display: block;
  clear: both;
}

.section-mayor .link-mayor {
  float: left;
  min-width: 112px;
  padding: 7px 25px 8px 24px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.05em;
  text-align: center;
  color: #0087cd;
  border: 1px solid #109cda;
  border-radius: 41px;
  background-color: #fff;
  transition-property: background-color, color;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}

.section-mayor .link-mayor+.link-mayor {
  margin-left: 11px;
}

.section-mayor .link-mayor:hover {
  background-color: #0087cd;
  color: #fff;
}

.section-service {
  margin-top: 20px;
}

.section-service .service-list {
  position: relative;
  padding: 25px 26px 24px 48px;
  border-radius: 50px 20px 50px 20px;
  background-image: linear-gradient(135deg, #d1f7ff 28%, #a7d9f8 81%);
}

.section-service .service-list::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 5px;
  width: 560px;
  height: 53px;
  background: url("../images/main/service_bg.png") no-repeat center bottom;
}

.section-service .service-list::after {
  content: '';
  display: block;
  clear: both;
}

.section-service .service-item {
  float: left;
}

.section-service .service-item+.service-item {
  margin-left: 16px;
}

.section-service .link-service {
  position: relative;
  z-index: 1;
  display: block;
  padding: 6px 10px 7px 45px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.05em;
  color: #00002e;
}

.section-service .link-service::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 35px;
  height: 35px;
  border-radius: 10px;
  transition: width 300ms ease-in-out;
}

.section-service .link-service:hover::after {
  width: 100%;
}

.section-service .link-service::before {
  content: '';
  position: absolute;
  top: calc(50% - 12px);
  left: 7px;
  width: 22px;
  height: 23px;
  background: url("../images/main/service_icons.png") no-repeat;
}

.section-service .service-item.chart .link-service::before {
  background-position: left center;
}

.section-service .service-item.chart .link-service::after {
  background-image: linear-gradient(135deg, #d1f7ff 16%, #addffe 100%);
}

.section-service .service-item.apply .link-service::before {
  background-position: -22px center;
}

.section-service .service-item.apply .link-service::after {
  background-image: linear-gradient(135deg, #d1f7ff 16%, #addffe 100%);
}

.section-service .service-item.compliment .link-service::before {
  background-position: -44px center;
}

.section-service .service-item.compliment .link-service::after {
  background-image: linear-gradient(135deg, #c0ebfc 16%, #c8f1fe 100%);
}

.section-service .service-item.passport .link-service::before {
  background-position: -66px center;
}

.section-service .service-item.passport .link-service::after {
  background-image: linear-gradient(135deg, #a7d9f8 16%, #c8f1fe 100%);
}

/* media query */
@media screen and (min-width: 1001px) {
  .section-visual .slide-wrapper {
    height: 400px;
  }
}
.group-row1 .row3 {
  padding-top: 63px;
}
.section-talk {
  position: relative;
  background-color: #014099;
}

.section-talk .content {
  padding-left: 258px;
  padding-right: 62px;
}

.section-talk .common-inner::after {
  content: '';
  display: block;
  clear: both;
}

.section-talk .title {
  position: absolute;
  top: -28px;
  left: 73px;
}

@media screen and (max-width: 1000px) {
  .section-talk .title {
    left: 0;
  }
}

@media screen and (max-width: 640px) {
  .section-talk .title {
    width: 97px;
  }
}

.section-talk .title a {
  display: block;
}

.section-talk .title::before {
  display: inline-block;
  width: 122px;
  height: 123px;
  background: url("../images/main/talk-logo.png") no-repeat;
}

.section-talk .talk-list-wrap {
  padding: 31px 0 33px;
}

.section-talk .talk-list {
  height: 31px;
}

@media screen and (max-width: 640px) {
  .section-talk .talk-list {
    height: 23px;
  }

  .section-talk .content {
    /* padding: 22px 0 0 124px; */
  }
}

.section-talk .talk-list::after {
  content: '';
  display: block;
  clear: both;
}

.section-talk .talk-item {
  width: 20%;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .section-talk .talk-item {
    width: auto;
  }
}

@media screen and (max-width: 640px) {
  .section-talk .talk-item+.talk-item {
    margin-left: 25px;
  }
}

.section-talk .link-talk {
  position: relative;
  display: inline-block;
  padding-bottom: 3px;
  text-align: left;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.05em;
  color: #fff;
}

.section-talk .link-talk::before {
  content: '';
  display: inline-block;
  width: 22px;
  height: 20px;
  background: url("../images/main/talk-icons.png") no-repeat;
  margin-right: 7px;
  vertical-align: -5px;
}

.section-talk .talk-item.meeting .link-talk::before {
  background-position: left center;
}

.section-talk .talk-item.vote .link-talk::before {
  background-position: -22px center;
}

.section-talk .talk-item.receipt .link-talk::before {
  background-position: -44px center;
}

.section-talk .talk-item.service .link-talk::before {
  background-position: -66px center;
}

.section-talk .talk-item.budget .link-talk::before {
  background-position: -88px center;
}

.section-talk .link-talk::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.section-talk .link-talk:hover::after {
  transform: scaleX(1);
}

.merge-row1 {
  padding-bottom: 45px;
}

.section-job {
  padding-top: 75px;
}

.section-job .banner {
  position: relative;
  margin-bottom: 55px;
  border-radius: 60px 10px 60px 10px;
  background-color: #109cda;
}

.section-job .gradient {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.section-job .gradient::before {
  content: '';
  position: absolute;
  top: calc(50% - 80px);
  left: calc(50% - 303px);
  width: 752px;
  height: 160px;
  background: url("../images/main/job_bg.png") no-repeat center;
}

.section-job .banner .title {
  position: relative;
  z-index: 1;
  padding: 27px 0 23px;
  text-align: center;
}

.section-job .banner .text {
  display: inline-block;
  letter-spacing: -0.04em;
  text-shadow: rgba(13, 83, 135, 0.75) 3px 4px 20px;
  vertical-align: top;
}

.section-job .banner .text.basic {
  position: relative;
  padding-left: 145px;
  margin-right: 16px;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  color: #fff;
}

.section-job .banner .text.basic::before {
  content: '';
  position: absolute;
  top: -80px;
  left: 0;
  width: 126px;
  height: 133px;
  background: url("../images/main/job_icon.png") no-repeat left bottom;
}

.section-job .banner .text.highlight {
  font-family: 'Tenada', '맑은 고딕', Dotum, '돋움', Helvetica, AppleSDGothicNeo, sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.04em;
  color: #fff799;
}

.section-job .job-list {
  margin-top: 55px;
}

.section-job .job-list::after {
  content: '';
  display: block;
  clear: both;
}

.section-job .job-item {
  float: left;
  width: calc((100% - 168px) / 3);
}

.section-job .job-item+.job-item {
  margin-left: 84px;
}

.section-job .link-job {
  position: relative;
  display: block;
  padding-bottom: 51px;
  color: #000;
  transition: color 200ms ease-in-out;
}

.section-job .link-job:hover {
  color: #0970bb;
}

.section-job .link-job::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(1, 64, 153, 0.5);
  transform: scaleX(0);
  transition: transform 200ms ease-in-out;
}

.section-job .link-job:hover::before {
  transform: scaleX(1);
}

.section-job .link-job .date-box {
  display: inline-block;
  width: 83px;
  height: 83px;
  padding: 20px 0 21px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.03em;
  text-align: center;
  color: #109cda;
  border-radius: 50%;
  border: 1px solid #109cda;
  vertical-align: middle;
  box-sizing: border-box;
  transition-property: border-color, background-color;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}

.section-job .link-job:hover .date-box {
  border-color: #e9f6fb;
  background-color: #e9f6fb;
}

.section-job .link-job .date-box .text {
  display: block;
  line-height: 20px;
}

.section-job .link-job .title-box {
  display: inline-block;
  width: 304px;
  margin-left: 20px;
  vertical-align: middle;
}

.section-job .link-job .title {
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  white-space: normal;
  word-wrap: break-word;
  word-break: keep-all;
  overflow: hidden;
  max-height: 56px;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.03em;
}

.section-shortcut .slide-area {
  position: relative;
  padding: 0 89px;
}

.section-shortcut .slide-control .btn {
  position: absolute;
  top: 33px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 10px 17px 35px;
}

.section-shortcut .slide-control .btn-prev {
  left: 0;
}

.section-shortcut .slide-control .btn-next {
  right: 0;
}

.section-shortcut .slide-control .btn::before {
  content: '';
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 6px);
  width: 12px;
  height: 20px;
  background-image: url(../images/main/main_icons.png);
  background-repeat: no-repeat;
}

.section-shortcut .slide-control .btn-prev::before {
  background-position: -15px -90px;
}
.section-shortcut .slide-control .btn-prev.slick-disabled::before {
  background-position: left -90px;
}

.section-shortcut .slide-control .btn-next::before {
  background-position: -60px -90px;
}
.section-shortcut .slide-control .btn-next.slick-disabled::before  {
  background-position: -45px -90px;
}

.section-shortcut .link-shortcut {
  display: block;
}

.section-shortcut .link-shortcut .ico-shortcut {
  display: block;
  position: relative;
  width: 90px;
  height: 90px;
  margin: 0 auto 14px;
  border-radius: 30px;
  transition-property: background-color, box-shadow;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}

.section-shortcut .link-shortcut:hover .ico-shortcut {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 18px 30px 45px;
}

.section-shortcut .link-shortcut .ico-shortcut::before {
  content: '';
  position: absolute;
  top: calc(50% - 24px);
  left: calc(50% - 24px);
  width: 48px;
  height: 47px;
  background: url("../images/main/shortcut_icons.png") no-repeat;
  transform: translateY(7px);
  transition: transform 200ms ease-in-out;
}

.section-shortcut .shortcut-item.chart .ico-shortcut::before {
  background-position: -672px center;
}

.section-shortcut .shortcut-item.info .ico-shortcut::before {
  background-position: -48px center;
}

.section-shortcut .shortcut-item.job .ico-shortcut::before {
  background-position: -624px center;
}

.section-shortcut .shortcut-item.service .ico-shortcut::before {
  background-position: -672px center;
}

.section-shortcut .shortcut-item.car .ico-shortcut::before {
  background-position: -96px center;
}

.section-shortcut .shortcut-item.apply .ico-shortcut::before {
  background-position: -144px center;
}

.section-shortcut .shortcut-item.compliment .ico-shortcut::before {
  background-position: -240px center;
}

.section-shortcut .shortcut-item.reservation .ico-shortcut::before {
  background-position: -336px center;
}

.section-shortcut .shortcut-item.statistic .ico-shortcut::before {
  background-position: -288px center;
}

.section-shortcut .shortcut-item.passport .ico-shortcut::before {
  background-position: -384px center;
}

.section-shortcut .shortcut-item.sightseeing .ico-shortcut::before {
  background-position: -432px center;
}

.section-shortcut .shortcut-item.enterprise .ico-shortcut::before {
  background-position: -192px center;
}

.section-shortcut .shortcut-item.waste .ico-shortcut::before {
  background-position: -480px center;
}

.section-shortcut .shortcut-item.tax .ico-shortcut::before {
  background-position: -528px center;
}

.section-shortcut .shortcut-item.register .ico-shortcut::before {
  background-position: -576px center;
}

.section-shortcut .link-shortcut:hover .ico-shortcut::before {
  transform: translateY(0);
}

.section-shortcut .link-shortcut .title-box {
  text-align: center;
}

.section-shortcut .link-shortcut .title {
  display: inline-block;
  position: relative;
  padding: 0 7px 11px;
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.04em;
  vertical-align: top;
  color: #000;
  transition: color 200ms ease-in-out;
}

.section-shortcut .link-shortcut:hover .title {
  color: #00183a;
}

.section-shortcut .link-shortcut .title::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 45, 109, 0.5);
  transform: scaleX(0);
  transition: transform 200ms ease-in-out;
}

.section-shortcut .link-shortcut:hover .title::before {
  transform: scaleX(1);
}

.section-shortcut .link-shortcut .title span {
  display: block;
  transform: translateY(-5px);
  transition: transform 200ms ease-in-out;
}

.section-shortcut .link-shortcut:hover .title span {
  font-weight: 500;
  transform: translateY(0);
}

.group-row2 .merge-row2 {
  position: relative;
  padding-top: 73px;
  padding-bottom: 137px;
}
.group-row2 .merge-row2::before {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - ((100% - 1500px) / 2) - 225px);
  height: 100%;
  border-top-left-radius: 596px;
  background-color: #f0f5f9;
  content: '';
  transition-property: background-color;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}

.group-row2 .merge-row2 .row2 {
  padding-top: 101px;
}
.group-row2 .merge-row2 .row2 .common-inner::after {
  content: '';
  display: block;
  clear: both;
}

.group-row2 .merge-row2 .row2 .column-left {
  float: left;
  width: 993px;
}

.group-row2 .merge-row2 .row2 .column-right {
  float: right;
  width: 320px;
}

.section-news {
  position: relative;
}

.section-news::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% + 187px);
  height: 1px;
  background-color: #e0e2e2;
}

.section-news .tab-area {
  margin-bottom: 42px;
}

.section-news .tab-area::after {
  content: '';
  display: block;
  clear: both;
}

.section-news .btn-tab {
  color: #919191;
  font-family: 'Tenada', '맑은 고딕', Dotum, '돋움', Helvetica, AppleSDGothicNeo, sans-serif;
  font-size: 26px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.04em;
  text-align: left;
  vertical-align: top;
  transition: color 200ms ease-in-out;
}

.section-news .btn-tab.is-active {
  font-size: 30px;
  color: #014099;
}

.section-news .btn-tab+.btn-tab::before {
  content: '';
  display: inline-block;
  width: 1px;
  height: 22px;
  margin: 0 26px 0 25px;
  background-color: #ccc;
  vertical-align: -3px;
}


.section-news .news-board {
  display: none;
}

.section-news .news-board.is-visible {
  display: block;
}

.section-news .slick-list {
  margin-right: -65px;
}

.section-news .news-list::after {
  content: '';
  display: block;
  clear: both;
}

.section-news .news-item {
  margin-right: 65px;
}

.section-news .link-news {
  position: relative;
  display: block;
  padding-bottom: 46px;
}

.section-news .link-news::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 1px;
  background-color: #114c9f;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.section-news .link-news:hover::before {
  transform: scaleX(1);
}

.section-news .info-box {
  margin-top: 14px;
}

.section-news .info-box .title {
  display: -webkit-box;
  display: -ms-flexbox;
  text-overflow: ellipsis;
  white-space: normal;
  word-wrap: break-word;
  -webkit-line-clamp: 2;
  -ms-line-clamp: 2;
  -moz-line-clamp: 2;
  word-break: keep-all;
  overflow: hidden;
  -webkit-box-orient: vertical;
  height: 54px;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: -0.02em;
  transition: color 200ms ease-in-out;
}

.section-news .link-news:hover .title {
  color: #00204f;
}

.section-news .thumb-box {
  height: 160px;
  overflow: hidden;
  border-radius: 12px;
}

.section-news .thumb-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 800ms ease-in-out;
}

.section-news .link-news:hover .thumb-box img {
  transform: scale(1.05);
}

.section-news .link-more {
  position: absolute;
  top: 0;
  right: 0;
  width: 48px;
  height: 48px;
  border-radius: 48px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 10px 17px 35px;
  transition: background-color 200ms ease-in-out;
}

.section-news .link-more:hover {
  background-color: #05054c;
}

.section-news .link-more::before {
  content: '';
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
  width: 20px;
  height: 20px;
  background-position: -90px -90px;
}

.section-news .link-more:hover::before {
  background-position: -120px -120px;
}
.section-event .slide-area {
  position: relative;
  padding-bottom: 25px;
}
.section-event .slide-control {
  position: absolute;
  bottom: 0;
  right: 15px;
  z-index: 1;
  width: 111px;
}
.section-event .slide-control::after {
  content: '';
  display: block;
  clear: both;
}
.section-event .slide-control .btn {
  position: relative;
  float: left;
  width: 53px;
  height: 53px;
  border-radius: 53px;
  background-color: #fff;
  transition: background-color 200ms ease-in-out;
}
.section-event .slide-control .btn + .btn {
  margin-left: 5px;
}
.section-event .slide-control .btn:hover {
  background-color: #109cda;
}
.section-event .slide-control .btn::before {
  content: '';
  position: absolute;
  top: calc(50% - 7px);
  left: calc(50% - 5px);
  width: 10px;
  height: 14px;
}
.section-event .slide-control .btn-prev::before {
  background-position: -120px -90px;
}
.section-event .slide-control .btn-prev:hover::before {
  background-position: -150px -90px;
}
.section-event .slide-control .btn-next::before {
  background-position: -165px -90px;
}
.section-event .slide-control .btn-next:hover::before {
  background-position: -195px -90px;
}
.section-event .event-list {
  position: relative;
  height: 400px;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.2) 35px 61px 75px;
  background-color: #fff;
}
.section-event .link-event {
  display: block;
  position: relative;
}
.section-event .link-event::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 4px solid transparent;
  box-sizing: border-box;
}
.section-event .link-event .thumb-box {
  position: relative;
  overflow: hidden;
  height: 400px;
}
.section-event .link-event .thumb-box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 800ms ease-in-out;
}
.section-event .link-event:hover .thumb-box::before {
  background-color: rgba(0, 0, 0, 0.2);
}
.section-event .link-event .thumb-box img {
  height: 100%;
  object-fit: cover;
  transition: transform 800ms ease-in-out;
}
.section-event .link-event:hover .thumb-box img {
  transform: scale(1.05);
}
.section-event .link-event .info-box {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  padding: 88px 20px 27px;
  box-sizing: border-box;
}
.section-event .link-event .info-box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 22%, rgba(0, 0, 0, 0) 31%, rgba(0, 0, 0, 0.8) 100%);
}
.section-event .link-event .info {
  position: relative;
  padding-left: 18px;
}
.section-event .link-event .info::before {
  content: '';
  position: absolute;
  top: 1px;
  left: 0;
  width: 5px;
  height: calc(100% - 3px);
  background-color: #fff;
}
.section-event .link-event .category {
  display: block;
  margin-bottom: 4px;
  line-height: 30px;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -0.02em;
  color: #fff;
}

.section-event .link-event .title {
  display: block;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.04em;
  color: rgba(255, 255, 255, 0.8);
}
.section-communication {
  position: relative;
  z-index: 1;
}
.merge-row3 .column-left {
  width: 871px;
}
.merge-row3 .column-right {
  width: 465px;
}
.section-communication .headline {
  font-family: 'Tenada', '맑은 고딕', Dotum, '돋움', Helvetica, AppleSDGothicNeo, sans-serif;
  font-size: 30px;
  line-height: 32px;
  font-weight: 600;
  letter-spacing: -0.04em;
  color: #014099;
}
.section-communication .headline span + span {
  margin-left: 5px;
}
.section-communication .headline .hashtag {
  color: #109cda;
}
.section-communication .content {
  padding-top: 34px;
}
.section-communication .group-sns::after {
  content: '';
  display: block;
  clear: both;
}
.section-communication .blog-area {
  float: left;
  width: 270px;
}
.section-communication .link-blog {
  position: relative;
  display: block;
  padding-top: 20px;
}
.section-communication .link-blog .ico-blog {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 71px;
  height: 71px;
  border-radius: 23px 23px 23px 0;
  background-color: #43b134;
  box-shadow: rgba(140, 140, 140, 0.2) 18px 30px 50px;
}
.section-communication .link-blog .ico-blog::before {
  content: '';
  position: absolute;
  top: calc(50% - 14px);
  left: calc(50% - 13px);
  width: 26px;
  height: 28px;
  background: url("../images/main/sns_icons.png") no-repeat left center;
}
.section-communication .link-blog .thumb-box {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.2) 0 34px 46px;
}
.section-communication .link-blog .thumb-box {
  height: 270px;
}
.section-communication .link-blog .thumb-box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 800ms ease-in-out;
}
.section-communication .link-blog:hover .thumb-box::before {
  background-color: rgba(0, 0, 0, 0.3);
}
.section-communication .link-blog .thumb-box img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 800ms ease-in-out;
}
.section-communication .link-blog:hover .thumb-box img {
  transform: scale(1.05);
}
.section-communication .link-blog .ico-arrow {
  position: absolute;
  bottom: 11px;
  right: 11px;
  z-index: 2;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transition-property: border-color, background-color;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}
.section-communication .link-blog:hover .ico-arrow {
  border-color: #fff;
  background-color: #fff;
}
.section-communication .link-blog .ico-arrow::before {
  content: '';
  position: absolute;
  top: 11px;
  left: 12px;
  width: 11px;
  height: 11px;
  background-position: -165px -60px;
}
.section-communication .link-blog:hover .ico-arrow::before {
  background-position: -180px -60px;
} 
.section-communication .link-blog .info-box {
  margin: 25px 0 0 16px;
}
.section-communication .link-blog .title {
  line-height: 26px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.03em;
  color: #339326;
}
.section-communication .link-blog .desc {
  max-height: 52px;
  margin-top: 9px;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
  word-wrap: break-word;
  overflow: hidden;
  word-break: keep-all;
  color: #7e8790;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.03em;
}
.section-communication .blog-area .more-view {
  display: block;
  width: 89px;
  padding: 1px 0;
  margin: 21px 0 0 16px;
  border-radius: 29px;
  border: 1px solid rgba(0, 45, 109, 0.15);
  background-color: #fff;
  box-shadow: rgba(140, 140, 140, 0.2) 10px 17px 40px;
  transition-property: border-color, background-color;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  text-align: center;
}
.section-communication .blog-area .more-view:hover {
  border-color: #002d6d;
  background-color: #002d6d;
}
.section-communication .blog-area .more-view::before {
  content: '';
  display: inline-block;
  width: 49px;
  height: 16px;
  vertical-align: middle;
  background: url("../images/main/blog_btn.png") no-repeat center top;
}
.section-communication .blog-area .more-view:hover::before {
  background-position: center bottom;
}
.section-communication .sns-area {
  float: left;
  width: 404px;
  margin: 61px 0 0 90px;
}
.section-communication .sns-list::after {
  content: '';
  display: block;
  clear: both;
}
.section-communication .sns-item {
  float: left;
}
.section-communication .sns-item + .sns-item {
  margin-left: 40px;
}
.section-communication .sns-item:nth-child(n+4) {
  margin-top: 50px;
}
.section-communication .sns-item:nth-child(4) {
  margin-left: 111px;
}
.section-communication .link-sns {
  position: relative;
  display: block;
  width: 71px;
  height: 71px;
  border-radius: 25px;
  box-shadow: rgba(140, 140, 140, 0.2) 18px 30px 50px;
  transition-property: box-shadow, transform;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}
.section-communication .sns-item.facebook .link-sns {
  background-color: #4169af;
}
.section-communication .sns-item.youtube .link-sns {
  background-color: #fa3c3c;
}
.section-communication .sns-item.instagram .link-sns {
  background-image: linear-gradient(to bottom, rgba(237, 70, 73, 1) 0%, rgba(134, 37, 195, 1) 100%);
}
.section-communication .sns-item.kakao-story .link-sns {
  background-color: #685cf6;
}
.section-communication .sns-item.kakao-talk .link-sns {
  background-color: #ffe522;
}
.section-communication .sns-item.naver-tv .link-sns {
  background-color: #00cb75;
}
.section-communication .link-sns:hover {
  transform: translateY(-10px);
  box-shadow: rgba(0, 0, 0, 0.2) 18px 30px 40px;
}
.section-communication .link-sns .ico-sns {
  content: '';
  position: absolute;
  top: calc(50% - 14px);
  left: 23px;
  width: 26px;
  height: 28px;
  background: url("../images/main/sns_icons.png") no-repeat;
}
.section-communication .sns-item.facebook .ico-sns {
  background-position: -26px center;
}
.section-communication .sns-item.youtube .ico-sns {
  background-position: -52px center;
}
.section-communication .sns-item.instagram .ico-sns {
  background-position: -78px center;
}
.section-communication .sns-item.kakao-story .ico-sns {
  background-position: -104px center;
}
.section-communication .sns-item.kakao-talk .ico-sns {
  background-position: -130px center;
}
.section-communication .sns-item.naver-tv .ico-sns {
  background-position: -156px center;
}
.section-communication .link-sns .ico-arrow {
  position: absolute;
  top: -6px;
  right: -5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #fff;
  transition: background-color 250ms ease-in-out;
}
.section-communication .link-sns:hover .ico-arrow  {
  background-color: #002d6d;
}
.section-communication .link-sns .ico-arrow::before {
  content: '';
  position: absolute;
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  background-position: -195px -60px;
}
.section-communication .link-sns:hover .ico-arrow::before {
  background-position: -210px -60px;
}
.section-communication .news-area {
  width: 448px;
  margin: -117px 0 0 auto;
}
.section-communication .content::after {
  content: '';
  display: block;
  clear: both;
}
.section-communication .news {
  position: relative;
}
.section-communication .ico-news {
  position: absolute;
  top: 0;
  left: -20px;
  z-index: 2;
  width: 71px;
  height: 71px;
  border-radius: 23px 0 23px 23px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.07) 10px 17px 35px;
}
.section-communication .ico-news::before {
  content: '';
  position: absolute;
  top: calc(50% - 12px);
  left: 16px;
  width: 43px;
  height: 24px;
  background-position: -240px top;
}
.section-communication .link-news {
  position: relative;
  display: block;
  border-radius: 20px;
  overflow: hidden;
}
.section-communication .link-news .thumb-box {
  position: relative;
  height: 260px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 34px 46px;
}
.section-communication .link-news .thumb-box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 800ms ease-in-out;
}
.section-communication .link-news:hover .thumb-box::before {
  background-color: rgba(0, 0, 0, 0.3);
}
.section-communication .link-news .thumb-box img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 800ms ease-in-out;
}
.section-communication .link-news:hover .thumb-box img {
  transform: scale(1.05);
}
.section-communication .link-news .info-box {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 139px;
  box-sizing: border-box;
}
.section-communication .link-news .info-box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 85%);
  opacity: 0;
  transition: opacity 800ms ease-in-out;
}
.section-communication .link-news:hover .info-box::before {
  opacity: 1;
}
.section-communication .link-news .title {
  position: relative;
  display: block;
  padding-top: 67px;
  z-index: 1;
  word-break: keep-all;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal;
  word-wrap: break-word;
  text-align: center;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: -0.03em;
  color: #fff;
}
.section-communication .link-news .ico-play {
  content: '';
  position: absolute;
  top: 92px;
  left: 214px;
  z-index: 1;
  width: 46px;
  height: 53px;
  background-position: -225px -60px;
}
.section-communication .news-area .date {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0;
  text-align: center;
  color: #7e8790;
}
.group-row2 .merge-row3 {
  position: relative;
  padding-top: 60px;
  padding-bottom: 68px;
}
.group-row2 .merge-row3 .mask {
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(((100% - 1500px) / 2) + 800px);
  height: calc(100% - 232px);
  mask-image: linear-gradient(to bottom, black 0%, transparent 33%);
  pointer-events: none;
}
.group-row2 .merge-row3 .mask::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% - 50px);
  height: calc(100% - 50px);
  border-top-right-radius: 120px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.05) 0 -24px 40px;
}
.merge-row3 .floating-deco {
  position: absolute;
  bottom: 0;
  left: 16px;
  width: 488px;
  pointer-events: none;
}
.section-life {
  padding-top: 31px;
}
.section-life .content-area {
  position: relative;
  padding: 1px;
}
.section-life .content {
  position: relative;
  z-index: 2;
  padding: 45px 24px 15px 25px;
  border-radius: 19px 19px 37px 19px;
  background-color: #fff;
}
.section-life .content-area::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 38px 20px;
  background-image: linear-gradient(150deg, #c3daec 1%, #fcf3ec 100%);
  box-shadow: rgba(140, 140, 140, 0.2) 18px 30px 50px;
}
.section-life .headline {
  position: absolute;
  top: -32px;
  right: -61px;
  width: 311px;
  padding: 0 60px 73px 21px;
  text-align: center;
  box-sizing: border-box;
  background: url("../images/main/life_title_bg.png") no-repeat right top;
}
.section-life .headline span {
  display: inline-block;
  padding: 19px 0 15px;
  font-family: 'Tenada', '맑은 고딕', Dotum, '돋움', Helvetica, AppleSDGothicNeo, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: -0.04em;
  color: #fff;
}
.section-life .life-list::after {
  content: '';
  display: block;
  clear: both;
}
.section-life .life-item {
  float: left;
  width: calc((100% - 10px) / 2);
}
.section-life .life-item:nth-child(2n) {
  margin-left: 10px;
}
.section-life .life-item:nth-child(n+3) {
  margin-top: 10px;
}
.section-life .btn-life {
  position: relative;
  display: block;
  width: 100%;
  height: 188px;
  border-radius: 10px 10px 28px 10px;
  background-color: #f4f8fd;
}
.section-life .ico-life {
  content: '';
  display: block;
  width: 40px;
  height: 46px;
  margin: 0 auto 15px;
  background: url("../images/main/life_icons.png") no-repeat;
}
.section-life .life-item.welfare .ico-life {
  background-position: left top;
} 
.section-life .life-item.cycle .ico-life {
  background-position: -40px top;
} 
.section-life .life-item.health .ico-life {
  background-position: -80px top;
} 
.section-life .life-item.traffic .ico-life {
  background-position: -120px top;
} 
.section-life .life-item.job .ico-life {
  background-position: -160px top;
} 
.section-life .life-item.environment .ico-life {
  background-position: -200px top;
}
.section-life .btn-life .title-box {
  padding: 51px 0;
}
.section-life .btn-life .title {
  display: block;
  font-family: 'SCoreDream', '맑은 고딕', Dotum, '돋움', Helvetica, AppleSDGothicNeo, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.03em;
  color: #515665;
  text-align: center;
}
