.main-inner1 {
  position: relative;
}
.main-inner1::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 239px);
  background-image: linear-gradient(to bottom, #f8fafc 0%, #ffffff 100%);
  pointer-events: none;
}

/* search */
.section-search {
  position: relative;
  padding-top: 60px;
}
.section-search .search-form {
  position: relative;
}
.section-search .search {
  display: flex;
  align-items: center;
  column-gap: 25px;
}
.section-search .search-input {
  flex: 1;
  padding: 11px 30px;
  font-size: 20px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -0.04em;
  color: #05054c;
  border: 2px solid #109cda;
  border-radius: 10px 10px 30px 10px;
  background-color: #fff;
  box-sizing: border-box;
}
.section-search .search-input::placeholder {
  font-family: "Noto Sans KR", sans-serif;
  color: #929292;
}
.section-search .btn-search {
  flex-shrink: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-image: linear-gradient(135deg, #109cda 9%, #065eae 34%, #014099 57%);
  box-shadow: rgba(1, 64, 153, 0.2) 18px 30px 50px;
}
.section-search .btn-search::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background-position: -30px top;
}
.section-search .keyword-area {
  display: flex;
  align-items: center;
  column-gap: 27px;
  margin: 15px 0 0 10px;
}
.section-search .keyword-area .title {
  display: flex;
  align-items: center;
  column-gap: 7px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.04em;
  color: #109cda;
}
.section-search .keyword-area .title::before {
  content: '';
  position: relative;
  top: 1px;
  display: block;
  width: 16px;
  height: 17px;
  background-position: left -150px;
}
.section-search .keyword-list {
  display: flex;
  column-gap: 28px;
}
.section-search .link-keyword {
  display: block;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: -0.03em;
  color: #6a747f;
  transition: color 200ms ease-in-out;
}
.section-search .link-keyword:hover {
  color: #014099;
}
.section-search .decoration {
  content: '';
  position: absolute;
  top: calc(60px + 87px);
  right: calc(0px - ((100vw - 1500px) / 2) - 49px);
  width: 1076px;
  height: 349px;
  background-image: url("../images/main/searchsection_deco.png");
  background-repeat: no-repeat;
  background-position: right top;
  mask-image: linear-gradient(to top, black 28%, transparent 117%);
  pointer-events: none;
}

@media screen and (min-width: 1001px) {
  .section-search .inner {
    position: relative;
  }
  .section-search .decoration {
    top: calc(60px + 64px);
    right: -49px;
    background-image: url("../images/main/searchsection_deco2.png");
    mask-image: linear-gradient(to top, black 28%, transparent 117%);
  }
  .section-search .common-inner {
    max-width: 755px;
  }
  .section-search .search-input {
    height: 70px;
  }
  .section-search .keyword-area .title {
    line-height: 24px;
  }
}

.main-inner1 .horizontal {
  padding-top: 70px;
}

.main-inner1 .horizontal .column-left {
  width: 874px;
}

.main-inner1 .horizontal .column-right {
  width: 585px;
  margin-top: 36px;
}

/* visual */
.section-visual {
  position: relative;
}

.section-visual .slide-control-area {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 2;
  display: flex;
  column-gap: 10px;
}

.section-visual .slide-control {
  display: flex;
  align-items: center;
  column-gap: 19px;
  padding-left: 28px;
  border-radius: 39px;
  background-color: rgba(255, 255, 255, 0.85);
}

.section-visual .page {
  display: flex;
  align-items: center;
  column-gap: 6px;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: normal;
  color: #0087cd;
}

.section-visual .page .current {
  color: #05054c;
}

.section-visual .control-btns {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.section-visual .btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 39px;
  height: 39px;
}

.section-visual .btn:not(.btn-control) {
  border-radius: 50%;
  transition: background-color 200ms ease-in-out;
}

.section-visual .btn:hover:not(.btn-control) {
  background-color: #fff;
}
.section-visual .btn::before {
  content: '';
  display: block;
  width: 10px;
  height: 17px;
}

.section-visual .btn-prev::before {
  background-position: -15px -30px;
}

.section-visual .btn-control::before {
  width: 15px;
  background-position: -60px -30px;
}

.section-visual .btn-control.pause::before {
  background-position: -90px -30px;
}

.section-visual .btn-next::before {
  background-position: -45px -30px;
}

.section-visual .btn-more {
  background-color: #cde9fd;
}

.section-visual .btn-more::before {
  width: 12px;
  height: 12px;
  background-position: -195px -120px;
}

.section-visual .btn-more:hover::before {
  background-position: -210px -120px;
}

.section-visual .swiper {
  border-radius: 25px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 18px 30px 50px;
}

.section-visual .visual-slide a {
  position: relative;
  display: block;
}

/* mayor */
.section-mayor {
  position: relative;
}

.section-mayor::before {
  content: '';
  position: absolute;
  top: -44px;
  left: 32px;
  z-index: 1;
  width: 87px;
  height: 83px;
  background: url("../images/main/mayor_deco.png") no-repeat left top;
}

.section-mayor .content {
  position: relative;
  padding: 48px 248px 32px 50px;
  border-radius: 60px 30px 60px 30px;
  overflow: hidden;
  background-image: linear-gradient(125deg, #fff 42%, #b7ddfa 84%, #90b8e9 100%);
  box-shadow: rgba(180, 189, 195, 0.35) 18px 30px 50px;
}

.section-mayor .content::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 26px;
  width: 222px;
  height: 231px;
  background: url("../images/main/mayor_photo.png") no-repeat right bottom;
}

.section-mayor .headline {
  font-family: 'Tenada', '맑은 고딕', Dotum, '돋움', Helvetica, AppleSDGothicNeo, sans-serif;
  font-size: 34px;
  line-height: 1;
  color: #202431;
}

.section-mayor .headline a {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.section-mayor .organization {
  font-size: 26px;
}

.section-mayor .name .highlight {
  font-size: 40px;
  color: #109cda;
}

.section-mayor .desc {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.03em;
  color: #667b92;
}

.section-mayor .link-area {
  display: flex;
  column-gap: 11px;
  margin-top: 20px;
}

.section-mayor .link-mayor {
  min-width: 112px;
  padding: 7px 25px 8px 24px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.05em;
  text-align: center;
  color: #0087cd;
  border: 1px solid #109cda;
  border-radius: 41px;
  background-color: #fff;
  transition-property: background-color, color;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}

.section-mayor .link-mayor:hover {
  color: #fff;
  background-color: #0087cd;
}

/* service */
.section-service {
  margin-top: 20px;
}

.section-service .service-list {
  position: relative;
  display: flex;
  column-gap: 28px;
  padding: 25px 26px 24px 48px;
  border-radius: 50px 20px 50px 20px;
  background-image: linear-gradient(135deg, #d1f7ff 28%, #a7d9f8 81%);
}

.section-service .service-list::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 5px;
  width: 560px;
  height: 53px;
  background: url("../images/main/service_bg.png") no-repeat center bottom;
  pointer-events: none;
}

.section-service .service-item {
  position: relative;
}

.section-service .link-service {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  column-gap: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.05em;
  color: #00002e;
}

.section-service .link-service::before {
  content: '';
  position: absolute;
  z-index: -1;
  width: 35px;
  height: 35px;
  border-radius: 10px;
  transition: width 300ms ease-in-out;
}

.section-service .service-item.chart .link-service::before {
  background-image: linear-gradient(135deg, #d1f7ff 16%, #addffe 100%);
}

.section-service .service-item.apply .link-service::before {
  background-image: linear-gradient(135deg, #d1f7ff 16%, #addffe 100%);
}

.section-service .service-item.compliment .link-service::before {
  background-image: linear-gradient(135deg, #c0ebfc 16%, #c8f1fe 100%);
}

.section-service .service-item.passport .link-service::before {
  background-image: linear-gradient(135deg, #a7d9f8 16%, #c8f1fe 100%);
}

.section-service .link-service:hover::before {
  width: 100%;
  padding-right: 10px;
}

.section-service .ico-service {
  width: 35px;
  height: 35px;
}

.section-service .ico-service::before {
  content: '';
  display: block;
  width: 22px;
  height: 23px;
  background: url("../images/main/service_icons.png") no-repeat;
}

.section-service .service-item.chart .ico-service::before {
  background-position: left center;
}

.section-service .service-item.apply .ico-service::before {
  background-position: -22px center;
}

.section-service .service-item.compliment .ico-service::before {
  background-position: -44px center;
}

.section-service .service-item.passport .ico-service::before {
  background-position: -66px center;
}

/* media query */
@media screen and (min-width: 1001px) {
  .section-visual .swiper {
    height: 400px;
  }
}

/* talk */
.section-talk {
  position: relative;
  margin-top: 63px;
  background-color: #014099;
}

.section-talk .common-inner {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}
.section-talk .headline {
  position: relative;
  left: 6px;
  margin-top: -100px;
}

@media screen and (max-width: 1000px) {
  .section-talk .headline {
    left: 0;
  }
}

@media screen and (max-width: 640px) {
  .section-talk .headline {
    width: 97px;
  }
}

.section-talk .headline a::before {
  content: '';
  display: block;
  width: 122px;
  height: 123px;
  background: url("../images/main/talk-logo.png") no-repeat center/cover;
}

.section-talk .talk-list-wrap {
  flex: 1;
  max-width: 1200px;
  margin: 0;
  padding: 32px 0;
}

.section-talk .talk-item {
  width: 20%;
  text-align: center;
}

.section-talk .link-talk {
  position: relative;
  display: inline-flex;
  align-items: center;
  column-gap: 7px;
  padding-bottom: 3px;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.05em;
  color: #fff;
}

.section-talk .link-talk::before {
  content: '';
  display: block;
  width: 22px;
  height: 20px;
  background: url("../images/main/talk-icons.png") no-repeat;
}

.section-talk .talk-item.meeting .link-talk::before {
  background-position: left center;
}

.section-talk .talk-item.vote .link-talk::before {
  background-position: -22px center;
}

.section-talk .talk-item.receipt .link-talk::before {
  background-position: -44px center;
}

.section-talk .talk-item.service .link-talk::before {
  background-position: -66px center;
}

.section-talk .talk-item.budget .link-talk::before {
  background-position: -88px center;
}

.section-talk .link-talk::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.section-talk .link-talk:hover::after {
  transform: scaleX(1);
}

.main-inner2 {
  padding: 58px 0 45px;
}

.main-inner2 .row1 {
  position: relative;
}
.main-inner2 .row1::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: calc(((100% - 1500px) / 2) + 1079px);
  height: calc(100% + 122px);
  border-radius: 0 56px 178px 0;
  background-color: #f0f3f6;
  pointer-events: none;
}

/* board */
.section-board {
  position: relative;
  padding-top: 76px;
  padding-left: calc((100% - 1500px) / 2);
}
.section-board .headline {
  display: flex;
  column-gap: 20px;
  height: 25px;
  font-family: 'Tenada', '맑은 고딕', Dotum, '돋움', Helvetica, AppleSDGothicNeo, sans-serif;
  font-size: 30px;
  line-height: 1;
  color: #1595cb;
}
.section-board .headline::before {
  content: '';
  position: relative;
  top: 3px;
  left: 7px;
  display: block;
  width: 44px;
  height: 15px;
  background: url("../images/main/board_title_bul.png") left center no-repeat;
}

.section-board .tab-container {
  height: 330px;
  padding-left: 59px;
}

.section-board .tab {
  position: relative;
}

.section-board .tab-title {
  position: absolute;
  left: 6px;
  font-family: 'SCoreDream', '맑은 고딕', Dotum, '돋움', Helvetica, AppleSDGothicNeo, sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: normal;
  color: #5a5f6e;
}
.section-board .tab:nth-child(1) .tab-title {
  top: 41px;
}
.section-board .tab:nth-child(2) .tab-title {
  top: calc(41px * 2);
}
.section-board .tab:nth-child(3) .tab-title {
  top: calc(41px * 3);
}
.section-board .tab:nth-child(4) .tab-title {
  top: calc(41px * 4);
}
.section-board .tab:nth-child(5) .tab-title {
  top: calc(41px * 5);
}
.section-board .tab:nth-child(6) .tab-title {
  top: calc(41px * 6);
}
.section-board .tab.is-active .tab-title {
  font-size: 20px;
  font-weight: 600;
  color: #000;
}
.section-board .slide-control-wrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 17px;
  max-width: 1330px;
}
.section-board .slide-control {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 48px;
}
.section-board .slide-control::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1px;
  height: calc(100% - 5px);
  background-color: #ccc;
}
.section-board .btn {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 24px;
  margin-top: 0;
}
.section-board .btn::before {
  content: '';
  width: 10px;
  height: 16px;
}
.section-board .btn-prev::before {
  background-position: -180px top;
}
.section-board .btn-next::before {
  background-position: -210px top;
}
.section-board .btn-prev:hover::before {
  background-position: -195px top;
}
.section-board .btn-next:hover::before {
  background-position: -225px top;
}
.section-board .link-more {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background-color: #546476;
  box-shadow: rgba(0, 0, 0, 0.15) 10px 17px 35px;
  transition: background-color 200ms ease-in-out;
}
.section-board .link-more:hover {
  background-color: #109cd9;
}
.section-board .link-more::before {
  content: '';
  display: block;
  width: 17px;
  height: 17px;
  background-position: -150px -30px;
}

.section-board .content {
  display: none;
  position: absolute;
  top: -61px;
  right: -8px;
  width: calc(100% - 110px);
}
.section-board .tab.is-active .content {
  display: block;
}

.section-board .board-list-wrap {
  width: 100%;
  padding: 37px 0 43px 16px;
  box-sizing: border-box;
  mask-image: linear-gradient(to right, black 85%, rgba(0, 0, 0, 0.2) 89%, transparent 97%);
}
.section-board .board-item {
  width: 315px;
  margin-right: 20px;
}
.section-board .link-board {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 21px;
  padding: 42px 48px 38px 47px;
  border-radius: 60px 20px 20px 20px;
  background-color: #fff;
  transition-property: transform, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}
.section-board .link-board:hover {
  transform: translateY(-10px);
  box-shadow: rgba(0, 0, 0, 0.15) 10px 17px 35px;
}
.section-board .swiper-slide:not(.swiper-slide-prev) .link-board {
  box-shadow: rgba(0, 0, 0, 0.07) 10px 17px 35px;
}
.section-board .link-board .content-header {
  display: flex;
  justify-content: space-between;
}
.section-board .link-board .date {
  display: flex;
  flex-direction: column;
  row-gap: 3px;
  font-family: 'Montserrat', '맑은 고딕', Dotum, '돋움', Helvetica, AppleSDGothicNeo, sans-serif;
  letter-spacing: normal;
}
.section-board .link-board .yearmonth {
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  color: #898c90;
}
.section-board .link-board .day {
  line-height: 30px;
  font-size: 30px;
  font-weight: 600;
  color: #546476;
}
.section-board .link-board .publisher {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.03em;
  color: #014099;
}
.section-board .link-board .content-body {
  display: flex;
  flex-direction: column;
  row-gap: 13px;
}
.section-board .link-board .title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  height: 56px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.03em;
  line-height: 28px;
  color: #000;
  transition: color 200ms ease-in-out;
}
.section-board .link-board:hover .title {
  color: #014099;
}
.section-board .link-board .desc {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  height: 46px;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: -0.03em;
  color: #7e8790;
}

/* job */
.section-job {
  padding-top: 75px;
}

.section-job .banner {
  position: relative;
  border-radius: 60px 10px 60px 10px;
  background-color: #109cda;
}

.section-job .headline {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  column-gap: 16px;
  padding: 27px 0 23px;
  text-align: center;
}

.section-job .headline .text {
  letter-spacing: -0.04em;
  text-shadow: rgba(13, 83, 135, 0.75) 3px 4px 20px;
}

.section-job .headline .text.basic {
  position: relative;
  padding-left: 145px;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  color: #fff;
}

.section-job .headline .text.basic::before {
  content: '';
  position: absolute;
  top: -80px;
  left: 0;
  width: 126px;
  height: 133px;
  background: url("../images/main/job_icon.png") no-repeat left bottom;
}

.section-job .headline .text.highlight {
  font-family: 'Tenada', '맑은 고딕', Dotum, '돋움', Helvetica, AppleSDGothicNeo, sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.04em;
  color: #fff799;
}

.section-job .gradient {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.section-job .gradient::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 752px;
  height: 160px;
  background: url("../images/main/job_bg.png") no-repeat center;
}

.section-job .job-list {
  display: flex;
  column-gap: 84px;
  padding-top: 55px;
}

.section-job .job-item {
  flex: 1;
}

.section-job .link-job {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 51px;
  color: #000;
  transition: color 200ms ease-in-out;
}

.section-job .link-job:hover {
  color: #0970bb;
}

.section-job .link-job::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(1, 64, 153, 0.5);
  transform: scaleX(0);
  transition: transform 200ms ease-in-out;
}

.section-job .link-job:hover::before {
  transform: scaleX(1);
}

.section-job .link-job .date-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 83px;
  height: 83px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.03em;
  color: #109cda;
  border: 1px solid #109cda;
  border-radius: 50%;
  transition-property: border-color, background-color;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}

.section-job .link-job .title-box {
  display: block;
  width: 330px;
}

.section-job .link-job .title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  max-height: 56px;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.03em;
}

.section-job .link-job:hover .date-box {
  border-color: #e9f6fb;
  background-color: #e9f6fb;
}

.section-job .link-job .date {
  line-height: 20px;
}

/* shortcut */
.section-shortcut .slide-area {
  position: relative;
  padding: 0 89px;
}

.section-shortcut .btn {
  position: absolute;
  top: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 10px 17px 35px;
}

.section-shortcut .btn::before {
  content: '';
  display: block;
  width: 12px;
  height: 20px;
  background-image: url(../images/main/main_icons.png);
  background-repeat: no-repeat;
}

.section-shortcut .btn-prev {
  left: 0;
}

.section-shortcut .btn-next {
  right: 0;
}

.section-shortcut .btn-prev::before {
  background-position: -15px -90px;
}
.section-shortcut .btn-next::before {
  background-position: -60px -90px;
}

.section-shortcut .btn-prev:hover::before {
  background-position: -30px -90px;
}

.section-shortcut .btn-next:hover::before {
  background-position: -75px -90px;
}

.section-shortcut .swiper-button-disabled {
  opacity: 1;
}

.section-shortcut .btn-prev.swiper-button-disabled::before {
  background-position: left -90px;
}

.section-shortcut .btn-next.swiper-button-disabled::before  {
  background-position: -45px -90px;
}

.section-shortcut .shortcut-list-wrap {
  width: 100%;
}

.section-shortcut .link-shortcut {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 14px;
}

.section-shortcut .ico-shortcut {
  position: relative;
  width: 90px;
  height: 90px;
  border-radius: 30px;
  transition-property: background-color, box-shadow;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}

.section-shortcut .link-shortcut:hover .ico-shortcut {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 18px 30px 45px;
}

.section-shortcut .ico-shortcut::before {
  content: '';
  display: block;
  width: 48px;
  height: 47px;
  background: url("../images/main/shortcut_icons.png") no-repeat;
  transform: translateY(7px);
  transition: transform 200ms ease-in-out;
}

.section-shortcut .shortcut-item.chart .ico-shortcut::before {
  background-position: left center;
}

.section-shortcut .shortcut-item.info .ico-shortcut::before {
  background-position: -48px center;
}

.section-shortcut .shortcut-item.job .ico-shortcut::before {
  background-position: -624px center;
}

.section-shortcut .shortcut-item.service .ico-shortcut::before {
  background-position: -672px center;
}

.section-shortcut .shortcut-item.car .ico-shortcut::before {
  background-position: -96px center;
}

.section-shortcut .shortcut-item.apply .ico-shortcut::before {
  background-position: -144px center;
}

.section-shortcut .shortcut-item.compliment .ico-shortcut::before {
  background-position: -240px center;
}

.section-shortcut .shortcut-item.reservation .ico-shortcut::before {
  background-position: -336px center;
}

.section-shortcut .shortcut-item.statistic .ico-shortcut::before {
  background-position: -288px center;
}

.section-shortcut .shortcut-item.passport .ico-shortcut::before {
  background-position: -384px center;
}

.section-shortcut .shortcut-item.sightseeing .ico-shortcut::before {
  background-position: -432px center;
}

.section-shortcut .shortcut-item.enterprise .ico-shortcut::before {
  background-position: -192px center;
}

.section-shortcut .shortcut-item.waste .ico-shortcut::before {
  background-position: -480px center;
}

.section-shortcut .shortcut-item.tax .ico-shortcut::before {
  background-position: -528px center;
}

.section-shortcut .shortcut-item.register .ico-shortcut::before {
  background-position: -576px center;
}

.section-shortcut .link-shortcut:hover .ico-shortcut::before {
  transform: translateY(0);
}

.section-shortcut .link-shortcut .title {
  position: relative;
  display: inline-block;
  padding: 0 7px 11px;
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.04em;
  color: #000;
  transform: translateY(-5px);
  transition-property: transform, color;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}

.section-shortcut .link-shortcut:hover .title {
  font-weight: 500;
  color: #00183a;
  transform: translateY(0);
}

.section-shortcut .link-shortcut .title::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 45, 109, 0.5);
  transform: scaleX(0);
  transition: transform 200ms ease-in-out;
}

.section-shortcut .link-shortcut:hover .title::before {
  transform: scaleX(1);
}

.main-inner3 {
  position: relative;
  padding-top: 73px;
  padding-bottom: 137px;
}
.main-inner3::before {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - ((100% - 1500px) / 2) - 225px);
  height: 100%;
  border-top-left-radius: 596px;
  background-color: #f0f5f9;
  content: '';
  transition-property: background-color;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}

.main-inner3 .row2 .horizontal {
  padding-top: 111px;
}

.main-inner3 .row2 .horizontal .column-left {
  width: 993px;
}

.main-inner3 .row2 .horizontal .column-right {
  width: 320px;
}

/* news */
.section-news {
  position: relative;
}

.section-news::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% + 187px);
  height: 1px;
  background-color: #e0e2e2;
}

.section-news .content {
  margin-top: 72px;
}

.section-news .tab-title {
  position: absolute;
  top: -73px;
  color: #919191;
  font-family: 'Tenada', '맑은 고딕', Dotum, '돋움', Helvetica, AppleSDGothicNeo, sans-serif;
  font-size: 26px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.04em;
  text-align: left;
  vertical-align: top;
  transition: color 200ms ease-in-out;
}

.section-news .tab.is-active .tab-title {
  font-size: 30px;
  color: #014099;
}

.section-news .tab:nth-child(1) .tab-title {
  left: 0;
}

.section-news .tab:nth-child(2) .tab-title {
  left: 100px;
}

.section-news .tab:nth-child(2) .tab-title::before {
  content: '';
  display: inline-block;
  width: 1px;
  height: 22px;
  margin: 0 26px 0 25px;
  background-color: #ccc;
  vertical-align: -3px;
}

.section-news .tab .content {
  display: none;
}

.section-news .tab.is-active .content {
  display: block;
}

.section-news .link-news {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  padding-bottom: 46px;
}

.section-news .link-news::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 1px;
  background-color: #114c9f;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.section-news .link-news:hover::before {
  transform: scaleX(1);
}

.section-news .link-news:hover .title {
  color: #00204f;
}

.section-news .thumb-box {
  height: 160px;
  overflow: hidden;
  border-radius: 12px;
}

.section-news .thumb-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 800ms ease-in-out;
}

.section-news .link-news:hover .thumb-box img {
  transform: scale(1.05);
}

.section-news .title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  height: 54px;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: -0.02em;
  transition: color 200ms ease-in-out;
}

.section-news .link-more {
  position: absolute;
  top: -83px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 48px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 10px 17px 35px;
  transition: background-color 200ms ease-in-out;
}

.section-news .link-more:hover {
  background-color: #05054c;
}

.section-news .link-more::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background-position: -90px -90px;
}

.section-news .link-more:hover::before {
  background-position: -120px -120px;
}

/* event */
.section-event {
  padding-bottom: 25px;
}
.section-event .slide-control {
  position: absolute;
  bottom: -2px;
  right: 16px;
  z-index: 2;
  display: flex;
  column-gap: 5px;
}
.section-event .btn {
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 53px;
  height: 53px;
  border-radius: 50%;
  background-color: #fff;
  transition: background-color 200ms ease-in-out;
}

.section-event .btn:hover {
  background-color: #109cda;
}
.section-event .btn::before {
  content: '';
  display: block;
  width: 10px;
  height: 14px;
}
.section-event .btn-prev::before {
  background-position: -120px -90px;
}
.section-event .btn-next::before {
  background-position: -165px -90px;
}
.section-event .btn-prev:hover::before {
  background-position: -150px -90px;
}
.section-event .btn-next:hover::before {
  background-position: -195px -90px;
}
.section-event .event-list-wrap {
  position: relative;
  width: 100%;
  height: 400px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.2) 35px 61px 75px;
}

.section-event .link-event {
  position: relative;
  display: block;
}
.section-event .link-event .thumb-box {
  position: relative;
  overflow: hidden;
  height: 400px;
}
.section-event .link-event .thumb-box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 800ms ease-in-out;
}
.section-event .link-event:hover .thumb-box::before {
  background-color: rgba(0, 0, 0, 0.2);
}
.section-event .link-event .thumb-box img {
  height: 100%;
  object-fit: cover;
  transition: transform 800ms ease-in-out;
}
.section-event .link-event:hover .thumb-box img {
  transform: scale(1.05);
}
.section-event .link-event .info-box {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  padding: 88px 20px 27px;
  box-sizing: border-box;
}
.section-event .link-event .info-box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 22%, rgba(0, 0, 0, 0) 31%, rgba(0, 0, 0, 0.8) 100%);
}
.section-event .link-event .info {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  padding-left: 18px;
}
.section-event .link-event .info::before {
  content: '';
  position: absolute;
  top: 1px;
  left: 0;
  width: 5px;
  height: calc(100% - 3px);
  background-color: #fff;
}
.section-event .link-event .category {
  line-height: 30px;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -0.02em;
  color: #fff;
}

.section-event .link-event .title {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.04em;
  color: rgba(255, 255, 255, 0.8);
}

/* communication */
.section-communication {
  position: relative;
  z-index: 1;
}
.main-inner4 .horizontal .column-left {
  width: 871px;
}
.main-inner4 .horizontal .column-right {
  width: 465px;
}
.section-communication .headline {
  display: flex;
  column-gap: 5px;
  font-family: 'Tenada', '맑은 고딕', Dotum, '돋움', Helvetica, AppleSDGothicNeo, sans-serif;
  font-size: 30px;
  line-height: 32px;
  font-weight: 600;
  letter-spacing: -0.04em;
  color: #014099;
}
.section-communication .headline .hashtag {
  color: #109cda;
}
.section-communication .content {
  padding-top: 34px;
}
.section-communication .group-sns {
  display: flex;
  column-gap: 90px;
}
.section-communication .blog-area {
  width: 270px;
}
.section-communication .link-blog {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  padding-top: 20px;
}
.section-communication .link-blog .ico-blog {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 71px;
  height: 71px;
  border-radius: 23px 23px 23px 0;
  background-color: #43b134;
  box-shadow: rgba(140, 140, 140, 0.2) 18px 30px 50px;
}
.section-communication .link-blog .ico-blog::before {
  content: '';
  display: block;
  width: 26px;
  height: 28px;
  background: url("../images/main/sns_icons.png") no-repeat left center;
}
.section-communication .link-blog .thumb-box {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.2) 0 34px 46px;
}
.section-communication .link-blog .thumb-box {
  height: 270px;
}
.section-communication .link-blog .thumb-box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 800ms ease-in-out;
}
.section-communication .link-blog:hover .thumb-box::before {
  background-color: rgba(0, 0, 0, 0.3);
}
.section-communication .link-blog .thumb-box img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 800ms ease-in-out;
}
.section-communication .link-blog:hover .thumb-box img {
  transform: scale(1.05);
}
.section-communication .link-blog .ico-arrow {
  position: absolute;
  bottom: 11px;
  right: 11px;
  z-index: 2;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transition-property: border-color, background-color;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}
.section-communication .link-blog:hover .ico-arrow {
  border-color: #fff;
  background-color: #fff;
}
.section-communication .link-blog .ico-arrow::before {
  content: '';
  display: block;
  width: 11px;
  height: 11px;
  background-position: -165px -60px;
}
.section-communication .link-blog:hover .ico-arrow::before {
  background-position: -180px -60px;
} 
.section-communication .link-blog .info-box {
  /* margin: 25px 0 0 16px; */
  margin-left: 16px;
}
.section-communication .link-blog .title {
  line-height: 26px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.03em;
  color: #339326;
}
.section-communication .link-blog .desc {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  max-height: 52px;
  margin-top: 9px;
  color: #7e8790;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.03em;
}
.section-communication .blog-area .more-view {
  display: flex;
  justify-content: center;
  width: 89px;
  padding: 6px 0;
  margin: 21px 0 0 16px;
  border-radius: 29px;
  border: 1px solid rgba(0, 45, 109, 0.15);
  background-color: #fff;
  box-shadow: rgba(140, 140, 140, 0.2) 10px 17px 40px;
  transition-property: border-color, background-color;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  text-align: center;
}
.section-communication .blog-area .more-view:hover {
  border-color: #002d6d;
  background-color: #002d6d;
}
.section-communication .blog-area .more-view::before {
  content: '';
  display: block;
  width: 49px;
  height: 16px;
  background: url("../images/main/blog_btn.png") no-repeat center top;
}
.section-communication .blog-area .more-view:hover::before {
  background-position: center bottom;
}
.section-communication .sns-area {
  width: 404px;
  margin-top: 61px;
}
.section-communication .sns-list {
  display: flex;
  flex-wrap: wrap;
  gap: 50px 40px;
}
.section-communication .sns-item:nth-child(4) {
  margin-left: 111px;
}
.section-communication .link-sns {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 71px;
  height: 71px;
  border-radius: 25px;
  box-shadow: rgba(140, 140, 140, 0.2) 18px 30px 50px;
  transition-property: box-shadow, transform;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}
.section-communication .sns-item.facebook .link-sns {
  background-color: #4169af;
}
.section-communication .sns-item.youtube .link-sns {
  background-color: #fa3c3c;
}
.section-communication .sns-item.instagram .link-sns {
  background-image: linear-gradient(to bottom, rgba(237, 70, 73, 1) 0%, rgba(134, 37, 195, 1) 100%);
}
.section-communication .sns-item.kakao-story .link-sns {
  background-color: #685cf6;
}
.section-communication .sns-item.kakao-talk .link-sns {
  background-color: #ffe522;
}
.section-communication .sns-item.naver-tv .link-sns {
  background-color: #00cb75;
}
.section-communication .link-sns:hover {
  transform: translateY(-10px);
  box-shadow: rgba(0, 0, 0, 0.2) 18px 30px 40px;
}
.section-communication .ico-sns {
  content: '';
  display: block;
  width: 26px;
  height: 28px;
  background: url("../images/main/sns_icons.png") no-repeat;
}
.section-communication .sns-item.facebook .ico-sns {
  background-position: -26px center;
}
.section-communication .sns-item.youtube .ico-sns {
  background-position: -52px center;
}
.section-communication .sns-item.instagram .ico-sns {
  background-position: -78px center;
}
.section-communication .sns-item.kakao-story .ico-sns {
  background-position: -104px center;
}
.section-communication .sns-item.kakao-talk .ico-sns {
  background-position: -130px center;
}
.section-communication .sns-item.naver-tv .ico-sns {
  background-position: -156px center;
}
.section-communication .link-sns .ico-arrow {
  position: absolute;
  top: -6px;
  right: -5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #fff;
  transition: background-color 250ms ease-in-out;
}
.section-communication .link-sns:hover .ico-arrow  {
  background-color: #002d6d;
}
.section-communication .link-sns .ico-arrow::before {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  background-position: -195px -60px;
}
.section-communication .link-sns:hover .ico-arrow::before {
  background-position: -210px -60px;
}
.section-communication .news-area {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 448px;
  margin: -117px 0 0 auto;
}
.section-communication .news {
  position: relative;
}
.section-communication .ico-news {
  position: absolute;
  top: 0;
  left: -20px;
  z-index: 2;
  width: 71px;
  height: 71px;
  border-radius: 23px 0 23px 23px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.07) 10px 17px 35px;
}
.section-communication .ico-news::before {
  content: '';
  display: block;
  width: 43px;
  height: 24px;
  background-position: -240px top;
}
.section-communication .link-news {
  position: relative;
  display: block;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.2) 0 34px 46px;
}
.section-communication .link-news::before  {
  content: '';
  position: absolute;
  top: 92px;
  left: 214px;
  z-index: 2;
  width: 46px;
  height: 53px;
  background-position: -225px -60px;
}
.section-communication .link-news .thumb-box {
  position: relative;
  height: 260px;
 
}
.section-communication .link-news .thumb-box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 800ms ease-in-out;
}
.section-communication .link-news:hover .thumb-box::before {
  background-color: rgba(0, 0, 0, 0.3);
}
.section-communication .link-news .thumb-box img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 800ms ease-in-out;
}
.section-communication .link-news:hover .thumb-box img {
  transform: scale(1.05);
}
.section-communication .link-news .title-box {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  box-sizing: border-box;
}
.section-communication .link-news .title-box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 85%);
  opacity: 0;
  transition: opacity 800ms ease-in-out;
}
.section-communication .link-news:hover .title-box::before {
  opacity: 1;
}
.section-communication .link-news .title {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: -0.03em;
  color: #fff;
}
.section-communication .news-area .date-box {
  text-align: center;
}
.section-communication .news-area .date {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: normal;
  color: #7e8790;
}
.main-inner4 .horizontal {
  position: relative;
  padding-bottom: 18px
}
.main-inner4 {
  position: relative;
  padding: 60px 0 59px;
}
.main-inner4 .mask {
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(((100% - 1500px) / 2) + 800px);
  height: calc(100% - 232px);
  mask-image: linear-gradient(to bottom, black 0%, transparent 33%);
  pointer-events: none;
}
.main-inner4 .mask::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% - 50px);
  height: calc(100% - 50px);
  border-top-right-radius: 120px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.05) 0 -24px 40px;
}
.main-inner4 .decoration {
  position: absolute;
  bottom: 0;
  left: 16px;
  width: 488px;
  pointer-events: none;
}

/* life */
.section-life {
  padding-top: 31px;
}
.section-life .content-area {
  position: relative;
  padding: 1px;
}
.section-life .content {
  position: relative;
  padding: 45px 24px 25px 25px;
  border-radius: 19px 19px 37px 19px;
  background-color: #fff;
}
.section-life .content-area::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 38px 20px;
  background-image: linear-gradient(150deg, #c3daec 1%, #fcf3ec 100%);
  box-shadow: rgba(140, 140, 140, 0.2) 18px 30px 50px;
}
.section-life .headline {
  position: absolute;
  top: -32px;
  right: -61px;
  width: 311px;
  padding: 0 60px 73px 21px;
  text-align: center;
  box-sizing: border-box;
  background: url("../images/main/life_title_bg.png") no-repeat right top;
}
.section-life .headline span {
  display: inline-block;
  padding: 19px 0 15px;
  font-family: 'Tenada', '맑은 고딕', Dotum, '돋움', Helvetica, AppleSDGothicNeo, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: -0.04em;
  color: #fff;
}
.section-life .life-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.section-life .btn-life {
  position: relative;
  width: 100%;
  height: 188px;
  border-radius: 10px 10px 28px 10px;
  background-color: #f4f8fd;
}
.section-life .btn-life .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
  font-family: 'SCoreDream', '맑은 고딕', Dotum, '돋움', Helvetica, AppleSDGothicNeo, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.03em;
  color: #515665;
}

.section-life .title::before {
  content: '';
  display: block;
  width: 40px;
  height: 46px;
  background: url("../images/main/life_icons.png") no-repeat;
}
.section-life .life-item.welfare .title::before {
  background-position: left top;
} 
.section-life .life-item.cycle .title::before {
  background-position: -40px top;
} 
.section-life .life-item.health .title::before {
  background-position: -80px top;
} 
.section-life .life-item.traffic .title::before {
  background-position: -120px top;
} 
.section-life .life-item.job .title::before {
  background-position: -160px top;
} 
.section-life .life-item.environment .title::before {
  background-position: -200px top;
}


@media screen and (max-width: 1000px) {
  .section-search {
    padding-top: 0;
  }
  .section-search .search {
    max-width: 755px;
  }
  .section-search .keyword-area {
    margin-left: 0;
  }
  .section-search .keyword-area .title {
    display: none;
  }

  .main-inner1 .horizontal {
    padding-top: 15px;
  }
  .main-inner1 .horizontal .column-left,
  .main-inner1 .horizontal .column-right {
    width: auto;
  }

  .section-talk .talk-item {
    width: auto;
  }

  .main-inner2 .row1::before {
    width: 97%;
  }

  .section-board .board-list-wrap {
    mask-image: none;
  }

  .main-inner3::before {
    top: 0;
    right: -36%;
    width: 120%;
    background-image: linear-gradient(150deg, #f0f5f9 0%, #fefeff 100%);
  }
}

@media screen and (max-width: 800px) {
  .section-job .gradient {
    left: 50%;
    right: auto;
    transform: translateX(-50%);
    width: calc(100% - 120px);
  }
  .section-job .gradient::before {
    width: 96%;
    background-size: auto 74%;
  }
}

@media screen and (max-width: 640px) {
  .section-search .search {
    position: relative;
    
    padding-right: 44px;
  }
  .section-search .search-input {
    padding: 7px 20px 8px;
    font-size: 18px;
    background-position: calc(100% + 60px) 0;
  }
  .section-search .btn-search {
    position: absolute;
    top: 0;
    right: 0;
    width: 64px;
    height: 64px;
  }
  .section-search .keyword-list {
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 21px;
  }
  .section-search .link-keyword {
    font-size: 14px;
  }

  .section-visual .swiper {
    border-radius: 13px 77px 26px 13px;
  }

  .section-visual .slide-control-area {
    bottom: 10px;
    right: 10px;
  }

  .section-visual .page {
    font-size: 6px;
    line-height: 11px;
  }
  .section-visual .slide-control-area {
    column-gap: 7px;
  }
  .section-visual .slide-control {
    column-gap: 8px;
    padding-left: 8px;
  }
  .section-visual .control-btns {
    column-gap: 3px;
  }
  .section-visual .btn {
    width: 17px;
    height: 17px;
  }
  .section-visual .btn::before {
    width: 5px;
    height: 7px;
  }
  .section-visual .btn-prev::before {
    background-position: left -60px;
  }
  .section-visual .btn-prev:hover::before {
    background-position: -15px -60px;
  }
  .section-visual .btn-control::before {
    width: 7px;
    background-position: -60px -60px;
  }
  .section-visual .btn-next::before {
    background-position: -30px -60px;
  }
  .section-visual .btn-next:hover::before {
    background-position: -45px -60px;
  }
  .section-visual .btn-more::before {
    width: 6px;
    height: 6px;
    background-position: -195px -135px;
  }
  .section-visual .btn-more:hover::before {
    background-position: -210px -135px;
  }

  .main-inner1 .horizontal .column-right {
    margin-top: 30px;
  }
  .section-mayor::before {
    top: -26px;
    left: 10px;
    width: 53px;
    height: 50px;
    background-size: contain;
  }
  .section-mayor .content {
    padding: 28px 126px 19px 20px;
  }
  .section-mayor .content::before {
    right: 10px;
    width: 132px;
    height: 138px;
    background-size: contain;
  }
  .section-mayor .headline {
    font-size: 18px;
  }
  .section-mayor .organization {
    font-size: 16px;
  }
  .section-mayor .name .highlight {
    font-size: 24px;
  }
  .section-mayor .desc {
    margin-top: 0;
    font-size: 10px;
    line-height: 12px;
  }
  .section-mayor .link-area {
    column-gap: 5px;
    margin-top: 12px;
  }
  .section-mayor .link-mayor {
    min-width: 68px;
    padding: 4px 11px;
    font-size: 11px;
    line-height: 15px;
  }

  .section-service .service-list {
    flex-wrap: wrap;
    gap: 10px 2%;
    padding: 15px 4% 16px;
    border-radius: 30px 12px 30px 12px;
  }
  .section-service .service-list::before {
    left: 0;
    width: 100%;
    background-size: contain;
  }
  .section-service .service-item {
    width: 49%;
  }
  .section-service .link-service {
    font-size: 13px;
    line-height: 20px;
  }
  .section-service .link-service::before {
    width: 28px;
    height: 28px;
    border-radius: 7px;
  }
  .section-service .link-service:hover::before {
    padding-right: 0;
  }
  .section-service .service-item:nth-child(2n+1) .link-service::before {
    background-image: linear-gradient(135deg, #d1f7ff 16%, #addffe 100%);
  }
  .section-service .ico-service {
    width: 28px;
    height: 28px;
  }
  .section-service .ico-service::before {
    width: 19px;
    height: 20px;
    background-size: 76px auto;
  }
  .section-service .service-item.apply .ico-service::before {
    background-position: -19px center;
  }
  .section-service .service-item.compliment .ico-service::before {
    background-position: -38px center;
  }
  .section-service .service-item.passport .ico-service::before {
    background-position: -57px center;
  }

  .section-talk {
    margin-top: 48px;
  }
  .section-talk .common-inner {
    column-gap: 27px;
  }
  .section-talk .headline a::before {
    width: 97px;
    height: 97px;
  }
  .section-talk .talk-list-wrap {
    padding: 15px 0;
  }
  .section-talk .link-talk {
    font-size: 14px;
    line-height: 20px;
  }
  .section-talk .link-talk::before {
    width: 19px;
    height: 17px;
    background-size: 95px auto;
  }
  .section-talk .talk-item.vote .link-talk::before {
    background-position: -19px center;
  }
  .section-talk .talk-item.receipt .link-talk::before {
    background-position: -38px center;
  }
  .section-talk .talk-item.service .link-talk::before {
    background-position: -57px center;
  }
  .section-talk .talk-item.budget .link-talk::before {
    background-position: -76px center;
  }


  .main-inner2 {
    padding: 0;
  }
  .main-inner2 .row1 {

  }
  .main-inner2 .row1::before {
    height: calc(100% + 72px);
  }

  .section-board {
    padding-top: 52px;
    padding-left: 3%;
  }
  .section-board .headline {
    column-gap: 0;
    height: 18px;
    font-size: 20px;
  }
  .section-board .headline::before {
    top: auto;
    left: auto;
    height: 18px;
    background-size: auto 12px;
  }
  .section-board .tab-container {
    height: 246px;
    padding-left: 0;
  }
  .section-board .tab .tab-title {
    left: 0;
    font-size: 12px;
    line-height: 22px;
  }
  .section-board .tab.is-active .tab-title {
    font-size: 14px;
  }
  .section-board .content {
    top: -34px;
    right: 0;
    width: calc(100% - 70px);
  }
  .section-board .slide-control-wrap {
    column-gap: 11px;
    width: calc(100% - 3vw);
  }
  .section-board .slide-control {
    column-gap: 32px;
  }
  .section-board .btn {
    width: 16px;
    height: 19px;
  }
  .section-board .btn::before {
    width: 8px;
    height: 11px;
  }
  .section-board .btn-prev::before {
    background-position: -180px -30px;
  }
  .section-board .btn-prev:hover::before {
    background-position: -195px -30px;
  }
  .section-board .btn-next::before {
    background-position: -210px -30px;
  }
  .section-board .btn-next:hover::before {
    background-position: -225px -30px;
  }
  .section-board .link-more {
    width: 32px;
    height: 32px;
    box-shadow: rgba(0, 0, 0, 0.15) 7px 12px 25px;
  }
  .section-board .link-more::before {
    width: 12px;
    height: 12px;
    background-position: -150px -60px;
  }
  .section-board .tab:nth-child(1) .tab-title {
    top: 28px;
  }
  .section-board .tab:nth-child(2) .tab-title {
    top: calc(28px * 2);
  }
  .section-board .tab:nth-child(3) .tab-title {
    top: calc(28px * 3);
  }
  .section-board .tab:nth-child(4) .tab-title {
    top: calc(28px * 4);
  }
  .section-board .tab:nth-child(5) .tab-title {
    top: calc(28px * 5);
  }
  .section-board .tab:nth-child(6) .tab-title {
    top: calc(28px * 6);
  }
  .section-board .board-list-wrap {
    padding-top: 17px;
    padding-left: 12px;
  }
  .section-board .board-item {
    width: 220px;
    margin-right: 11px;
  }
  .section-board .link-board {
    row-gap: 10px;
    padding: 28px 31px 27px 32px;
  }
  .section-board .link-board .yearmonth {
    font-size: 11px;
    line-height: 14px;
  }
  .section-board .link-board .day {
    font-size: 21px;
    line-height: 23px;
  }
  .section-board .link-board .publisher {
    font-size: 11px;
    line-height: 14px;
  }
  .section-board .link-board .content-body {
    row-gap: 9px;
  }
  .section-board .link-board .title {
    font-size: 14px;
    line-height: 20px;
    height: 40px;
  }
  .section-board .link-board .desc {
    height: 32px;
    font-size: 11px;
    line-height: 16px;
  }

  .section-job {
    padding-top: 37px;
  }
  .section-job .banner {
    border-radius: 40px 7px 40px 7px;
  }
  .section-job .headline {
    column-gap: 11px;
    padding: 19px 0 15px;
  }
  .section-job .headline .text.basic {
    padding-left: 0;
    font-size: 12px;
    line-height: 20px;
  }
  .section-job .headline .text.basic::before {
    top: auto;
    bottom: -15px;
    left: -60px;
    width: 89px;
    height: 93px;
    background-size: contain;
  }
  .section-job .headline .text.highlight {
    font-size: 21px;
    line-height: 22px;
  }
  .section-job .gradient::before {
    background-size: contain;
  }

  .section-job .job-list {
    flex-wrap: wrap;
    column-gap: 0;
    padding: 0 8px 0;
  }
  .section-job .job-item {
    flex-basis: 100%;
    padding: 30px 0;
  }
  .section-job .job-item + .job-item {
    border-top: 1px solid #b2c5e0;
  }
  .section-job .job-item:nth-child(n+3) {
    display: none;
  }
  .section-job .link-job {
    padding-bottom: 0;
    padding-right: 32px;
  }
  .section-job .link-job::before {
    display: none;
  }
  .section-job .link-job .date-box {
    width: 59px;
    height: 59px;
    font-size: 11px;
  }
  .section-job .link-job .date {
    line-height: 15px;
  }
  .section-job .link-job .title-box {
    width: calc(100% - 80px);
  }
  .section-job .link-job .title {
    max-height: 40px;
    font-size: 14px;
    line-height: 20px;
  }

  .main-inner3 {
    padding-top: 14px;
    padding-bottom: 49px;
  }

  .main-inner3::before {
    height: calc(100% + 732px);
  }

  .section-shortcut .slide-area {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 20px;
    padding: 0;
  }
  .section-shortcut .slide-control {
    display: flex;
    justify-content: center;
    column-gap: 20px;
  }
  .section-shortcut .btn {
    position: static;
    width: 35px;
    height: 35px;
    box-shadow: rgba(0, 0, 0, 0.15) 7px 12px 25px;
  }
  .section-shortcut .btn::before {
    width: 8px;
    height: 13px;
  }
  .section-shortcut .btn-prev::before {
    background-position: -15px -120px;
  }
  .section-shortcut .btn-prev:hover::before {
    background-position: -30px -120px;
  }
  .section-shortcut .btn-prev.swiper-button-disabled::before {
    background-position: left -120px;
  }
  .section-shortcut .btn-next::before {
    background-position: -60px -120px;
  }
  .section-shortcut .btn-next:hover::before {
    background-position: -75px -120px;
  }
  .section-shortcut .btn-next.swiper-button-disabled::before {
    background-position: -45px -120px;
  }
  .section-shortcut .shortcut-list-wrap {
    /* padding: 0 3%; */
  }
  .section-shortcut .link-shortcut {
    row-gap: 10px;
  }
  .section-shortcut .ico-shortcut {
    width: 63px;
    height: 63px;
    border-radius: 20px;
  }
  .section-shortcut .ico-shortcut::before {
    width: 34px;
    height: 34px;
    background-size: 490px auto;
   }
   .section-shortcut .shortcut-item.chart .ico-shortcut::before {
    background-position: 1px center;
   }
   .section-shortcut .shortcut-item.info .ico-shortcut::before {
    background-position: -32px center;
   }
   .section-shortcut .shortcut-item.job .ico-shortcut::before {
    background-position: -425px center;
   }
   .section-shortcut .shortcut-item.service .ico-shortcut::before {
    background-position: -455px center;
   }
   .section-shortcut .shortcut-item.car .ico-shortcut::before {
    background-position: -65px center;
   }
   .section-shortcut .shortcut-item.apply .ico-shortcut::before {
    background-position: -98px center;
   }
   .section-shortcut .shortcut-item.compliment .ico-shortcut::before {
    background-position: -162px center;
   }
   .section-shortcut .shortcut-item.reservation .ico-shortcut::before {
    background-position: -228px center;
   }
   .section-shortcut .shortcut-item.statistic .ico-shortcut::before {
    width: 33px;
    background-position: -196px center;
   }
   .section-shortcut .shortcut-item.passport .ico-shortcut::before {
    background-position: -261px center;
   }
   .section-shortcut .shortcut-item.sightseeing .ico-shortcut::before {
    background-position: -293px center;
   }
   .section-shortcut .shortcut-item.enterprise .ico-shortcut::before {
    background-position: -129px center;
   }
   .section-shortcut .shortcut-item.waste .ico-shortcut::before {
    background-position: -326px center;
   }
   .section-shortcut .shortcut-item.tax .ico-shortcut::before {
    background-position: -358px center;
   }
   .section-shortcut .shortcut-item.register .ico-shortcut::before {
    background-position: -392px center;
   }
   .section-shortcut .link-shortcut .title {
    padding: 0 2px 7px;
    font-size: 13px;
    line-height: 20px;
  }
}